@import '../../../../vars';

.image_preview {
  width: 100%;
}

.dropzone {
  transition: border-color 100ms, background-color 100ms, box-shadow 100ms;
  height: 20vh;
  display: flex;
  border: 0.2rem dashed var(--mui-palette-neutral-400);
  border-radius: 0.75rem;
  align-items: center;
  cursor: pointer;
  padding-inline: 1rem;

  &:hover {
    background-color: var(--mui-palette-neutral-300);
    box-shadow: 0 0 0 0.25rem var(--mui-palette-neutral-300);
  }
}
