@import '../../../../vars';

%fixSpacingAndShadow {
  margin-left: -0.5rem;
  width: calc(100% + 1rem);
  padding: 0.5rem 0.5rem;
  // clip-path removes box shadow above this nav bar
  clip-path: inset(0px -10px -10px -10px);
}

@media (min-width: $break-md) {
  %fixSpacingAndShadow {
    margin-left: -1rem;
    width: calc(100% + 2rem);
    padding: 0.5rem 1rem;
  }
}

.mainHeader {
  @extend %fixSpacingAndShadow;
  background-color: var(--mui-palette-neutral-light);
  margin-top: -1rem;
  border-bottom: 1px solid var(--mui-palette-neutral-main);
}

.stickyNav {
  @extend %fixSpacingAndShadow;
  background-color: var(--mui-palette-neutral-light);
  position: sticky;
  top: -1rem;
  margin-bottom: 1rem;
  z-index: 1; // this component defaults to a higher z-index that overlays quick search
}

.breadcrumbText {
  font-size: 0.8em;
}

@media (min-width: $break-sm) {
  .breadcrumbText {
    font-size: 0.9em;
  }
}
