@import '../../vars';

.gc360-gordondialogbox {
  display: grid;
  grid-template-rows: auto auto auto;
  &_title {
    background-color: $primary-blue;
    color: $neutral-white;
    text-align: center;
    grid-row: 1;
  }
  &_content {
    display: grid;
    grid-row: 2;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 10px;
    padding: 8px 20px 8px 16px !important;
    &_text {
      grid-row: 1;
      grid-column: 1;
      color: $neutral-gray;
      text-align: center;
    }
    &_actions {
      grid-row: 3;
      justify-content: space-evenly !important;
      margin-bottom: 0.5rem;
    }
  }
}
