.timesheets {
  .shift-edit-picker .MuiOutlinedInput-input {
    text-align: center;
  }

  .shift-edit-picker .MuiOutlinedInput-multiline {
    padding: 8px 4px !important;
  }

  .tooltip-container {
    display: inline-flex;
    position: relative;
  }

  .tooltip-container .tooltip-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -16px;
    margin-top: -8px;
  }
}
