.timesheets {
  .shift_edit_picker .MuiOutlinedInput_input {
    text-align: center;
  }

  .shift_edit_picker .MuiOutlinedInput_multiline {
    padding: 8px 4px !important;
  }

  .tooltip_container {
    display: inline-flex;
    position: relative;
  }

  .tooltip_container .tooltip_icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -16px;
    margin-top: -8px;
  }
}
