@import '../../vars';

.dropzone {
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  min-width: 18rem;
  min-height: 8rem;
  display: flex;
  border: 0.2rem dashed darkgray;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $neutral-light-gray2;
    box-shadow: 0 0 0 0.25rem $neutral-light-gray2;
  }
  &_text {
    text-align: center;
    font-size: 10;
  }
  &_templatelink {
    color: $primary-blue;
    text-align: center;
  }
}

.dataconfirmationmessage.dataconfirmationmessage {
  width: 60%;
  margin: 15px auto 10px auto;
  text-align: center;
  font-weight: bold;
}

.dataconfirmationcard {
  padding: 5px;
  line-height: 1.6em;
}

.spreadsheeticon {
  color: #666666;
}
