@media (min-width: 3840px) {
  // Larger than 4K
  .victory-promise {
    height: 12%;
  }
}

.vpdesign {
  &:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &:not(:hover) {
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.victory-promise-layout {
  background-color: #014983;
  padding: 10%;
  border-radius: 0.5rem;
}

@media (max-width: 3840px) {
  .victory-promise {
    height: 12%;
  }
}

@media (max-width: 1920px) {
  // 1080p Full HD or smaller
  .victory-promise {
    height: 12%;
  }
}

@media (max-width: 1366px) {
  // 1366 x 768 or smaller
  .victory-promise {
    height: 12%;
  }
}

@media (max-width: 600px) {
  // 600 pixels or smaller (larger mobile device)
  .victory-promise {
    height: 12%;
  }
}

@media (max-width: 400px) {
  // 400 pixels or smaller (smaller mobile device)
  .victory-promise {
    height: 12%;
  }
}
