@import '../../../vars';

.select_text {
  text-transform: capitalize;
}

.update_item {
  padding: 1rem;
  align-items: center;
  transition: background-color 150ms;
  border-top: solid 1.5px $neutral-light-gray;
}

.update {
  margin: 1rem;

  & :global(.MuiCard-root) {
    margin-bottom: 1em;
  }

  & :global(.MuiGrid-root) {
    margin-left: 1em;
    margin-right: 3em;
  }

  &_title {
    text-align: center;
    margin-top: 1rem;
  }

  &_button {
    background-color: #00aeef !important;
    color: #ffffff !important;
    margin: 0.5rem !important;
  }

  &_contributors:global(.MuiTypography-root) {
    white-space: pre-wrap;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &_header {
    background-color: $primary-blue;
    color: $neutral-white;
  }
}
