.gc360-links-dialog {
  display: grid;
  grid-template-rows: auto auto auto;
  &_title {
    grid-row: 1;
  }
  &_content {
    display: grid;
    grid-row: 2;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 10px;
    &_text {
      grid-row: 1;
      grid-column: 1;
      justify-self: center;
      color: #888888;
    }
    &_facebook {
      grid-row: 2;
    }
    &_twitter {
      grid-row: 3;
    }
    &_linkedin {
      grid-row: 4;
    }
    &_instagram {
      grid-row: 5;
    }
    &_handshake {
      grid-row: 6;
    }
    &_media {
      display: grid;
      grid-template-columns: 15% 85%;
      align-items: center;
    }
    &_icon {
      grid-column: 1;
      padding-top: 20px;
    }
    &_field {
      grid-column: 2;
    }
  }
  &_actions {
    grid-row: 3;
  }
}
