@import '../../vars';

.wellness-check {
  text-align: center;

  .MuiPaper-elevation1 {
    box-shadow: none;
  }

  .MuiButton-contained {
    background-color: $primary-cyan;
    color: $neutral-white;

    &:hover {
      background-color: $primary-cyan;
    }
  }

  .user-image {
    max-height: 200px;
    min-width: 160px;
  }

  .wellness-header {
    background-color: $primary-blue;
    color: $neutral-white;
    padding: 10px;
    font-size: 20px;
  }
}
