.header {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

.resultmessage {
  &_green {
    font-size: 1.5rem;
    color: var(--mui-palette-success-dark);
  }

  &_red {
    font-size: 1.5rem;
    color: var(--mui-palette-error-main);
  }
}

.cell.cell {
  font-size: 1rem;
}

.headercell.headercell {
  font-size: 1rem;
  font-weight: bold;
}

.uploadbutton.uploadbutton {
  margin: 50px auto;
}

.gordonloadercontainer {
  padding-bottom: 30px;
}
