@import 'vars';

.header {
  background-color: $primary-blue;
  color: white;
}

.resultmessage {
  &_green {
    font-size: 1.5rem;
    color: #009900;
  }
  &_red {
    font-size: 1.5rem;
    color: #b53228;
  }
}

.strengthstable {
  &_cell {
    font-size: 1rem;
  }
  &_headercell {
    font-size: 1rem;
    font-weight: bold;
  }
}

.uploadbutton {
  margin: 50px auto;
}

.gordonloadercontainer {
  padding-bottom: 30px;
}
