@use 'sass:color';
@import '../../../../vars';

.root {
  transition:
    box-shadow 0.3s,
    width 0.3s;
  border-radius: 4px;
  border: 1px solid var(--mui-palette-primary-contrastText);
  max-width: 15rem;

  &:focus-within {
    box-shadow: 0 4px 10px 2px var(--mui-palette-neutral-A400);
    max-width: 15rem;
  }

  &:hover:not(:focus-within) {
    box-shadow: 0 3px 10px 2px var(--mui-palette-neutral-A400);
  }

  & :global(.MuiInputBase-root) {
    padding: 2px 10px;
    color: inherit;
  }
}

.searchIcon {
  color: var(--mui-palette-primary-contrastText);
}

.matched_text {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 2px solid var(--mui-palette-secondary-main);
  background-color: var(--mui-palette-secondary-50);
}

.suggestion {
  display: block;
  text-align: start;
  white-space: normal; // wrap long names
}
