// .ModeSwitcherButton {
//   background-color: var(--mui-palette-neutral-light);
//   color: var(--mui-palette-neutral-contrastText);
//   text-align: left;
//   font-size: 0.9rem;
//   padding-left: 1rem;
//   width: 10em;
//   height: 3.5em;
//   border: none;
//   border-right: none;
//   border-left: none;
//   &:hover {
//     background-color: var(--mui-palette-neutral-main);
//   }
// }
