// .time-tile {
//   display: grid;
//   grid-template-rows: auto auto auto;
//   grid-template-columns: 5% 45% 45% 5%;
//   grid-row-gap: 5px;
// }

// .add-title {
//   grid-row: 1;
//   grid-column: 1 / -1;
// }

// .dialog-content {
//   grid-row: 2;
//   grid-column: 2 / 4;
//   display: grid;
//   grid-template-columns: 100%;
// }

// .info-item {
//   grid-column: 1;
//   display: grid;
//   grid-template-columns: 100%;
// }

//  .info {
//    display: grid;
//    grid-template-rows: 20% 10px 20% 20% 20%;
//    grid-template-columns: 12% 18% 70%;
//    grid-row-gap: 10px;
//    grid-column-gap: 20px;
//    grid-column: 1;
//  }

// .dayWeek {
//   grid-row: 1;
//   grid-column: 1 / -1;
//   justify-self: stretch;
// }

// .start_time {
//   grid-row: 3;
//   grid-column: 1;
// }

// .end_time {
//   grid-row: 3;
//   grid-column: 2;
// }

// .alldaycheckbox {
//   grid-row: 3;
//   grid-column: 3;
//   justify-self: right;
// }

// .office-hours-title {
//   grid-row: 4;
//   grid-column: 1 / -1;
// }

// .office-hours-desc {
//   grid-row: 5;
//   grid-column: 1 / -1;
// }

// .buttons {
//   grid-row: 4;
//   grid-column: 3;
// }

// /* for smaller screens */
// @media (max-width: 414px) {
//   .info {
//     grid-template-rows: 16% 4% 16% 10% 16% 16%;
//     grid-template-columns: 50% 50%;
//     justify-items: flex-start;
//   }

//   .alldaycheckbox {
//     grid-row: 4;
//     grid-column: 1;
//     justify-self: flex-start;
//   }

//   .office-hours-title {
//     grid-row: 5;
//     justify-self: stretch;
//   }

//   .office-hours-desc {
//     grid-row: 6;
//     justify-self: stretch;
//   }
// }
