@import '../../vars';

.orientation-progress {
  background-color: $neutral-gray;
}

.red-avatar {
  background-color: $secondary-red;
  margin: 10;
}

.yellow-avatar {
  background-color: $secondary-yellow;
  margin: 10;
}

.green-avatar {
  background-color: $secondary-green;
  margin: 10;
}
