@import '../../vars';

.photoUploader {
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.member-list-image {
  border-radius: 0.5rem;
  height: 70px;
  width: 70px;
}

.contact-list-image {
  border-radius: 0.5rem;
  height: 70px;
  width: 70px;
}
