@import '../../vars';

.photoUploader {
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.update_image_components {
  margin-top: 15px;
}

_removeImage {
  background-color: var(--mui-palette-error-main);
  color: var(--mui-palette-secondary-contrastText);
}

_dialogContentText {
  text-align: 'center';
}

_imageDrop {
  max-width: '320px';
  max-height: '320px';
}

_cropper {
  max-width: maxCropPreviewWidth();
  max-height: maxCropPreviewWidth();
}

_activityURL {
  font-weight: 'bold';
}
