.photoUploader {
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.update_image_components {
  margin-top: 15px;
}

.dialogContentText {
  text-align: 'center';
}

.imageDrop {
  max-width: 320px;
  max-height: 320px;
  border-radius: 0.5rem;
}

.activityURL {
  font-weight: bold;
}