.dialogTitle {
  font-weight: bold;
}

.courseTitle {
  font-size: large;
}

.courseInfo {
  font-size: medium;
}

.cancelButton {
  margin-top: 20px;
}

.DialogActions {
  overflow: hidden;
  flex-direction: column;
}
