.ID_card {
  display: grid;
  gap: 1rem;
  grid-template-columns: 6fr 1fr;
  grid-template-areas:
    'header header'
    'photo sidebar';

  &_header {
    grid-area: header;
    width: 100%;
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }

  &_photo {
    grid-area: photo;
    max-height: 320px;
  }

  &_sidebar {
    grid-area: sidebar;
  }
}
