@import '../../../../../../../vars';

%header_style {
  padding-left: 5px;
  padding-right: 5px;
}

.header_style {
  color: var(--mui-palette-primary-main);
  @extend %header_style;

  &_text {
    color: var(--mui-palette-neutral-500);
    @extend %header_style;
  }
}
