@import '../../../../vars';

.news-item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.news-column {
//   padding-left: 10px;
//   padding-right: 10px;
}

.news-item:hover .news-column,
.news-item:hover .descriptionText,
.news-item:hover .news-content,
.news-item:hover .news-heading {
    color: #fff;
}