.news_item {
  padding: 1rem;
  align-items: center;
  transition: background-color 150ms;
  border-top: solid 1.5px var(--mui-palette-neutral-main);

  .news_authorProfileLink {
    color: inherit;
  }

  .news_authorProfileLink:hover {
    text-decoration: underline;
  }

  &.unapproved {
    background-color: var(--mui-palette-neutral-main);
    border-color: var(--mui-palette-neutral-dark);
    font-style: italic;

    p {
      opacity: 0.6;
    }
  }

  &:hover {
    background-color: var(--mui-palette-secondary-main);
    cursor: pointer;

    .news_column,
    .descriptionText,
    .news_content,
    .news_heading {
      color: var(--mui-palette-secondary-contrastText);

      &_bold {
        font-weight: bold;
      }
    }
  }

  &:hover.unapproved {
    background-color: var(--mui-palette-neutral-dark);

    p {
      opacity: 1;
    }

    .news_column,
    .descriptionText,
    .news_content,
    .news_heading {
      color: var(--mui-palette-neutral-contrastText);

      &_bold {
        font-weight: bold;
      }
    }
  }

  button.btn {
    margin: 0.5rem;
  }

  button.deleteButton {
    border-color: var(--mui-palette-error-main);
    color: var(--mui-palette-error-main);
  }
}

.collapsible {
  width: 100%;
}
