@import '../../../../vars';

.news-item {
    // padding: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 150ms;
    border-top: solid 1.5px $neutral-light-gray;
}

.unapproved .news-item {
    background-color: $neutral-light-gray;
    border-color: $neutral-gray;
    opacity: 60%;
    font-style: italic;
}

.news-item:hover {
    background-color: $primary-cyan;
    cursor: pointer;
    transition: background-color 150ms;
}

.unapproved .news-item:hover {
    opacity: 100%;
    background-color: $neutral-gray;
}

.news-authorProfileLink {
    color: unset;
}

.news-item .news-authorProfileLink:hover {
    color: $neutral-white;
}

.unapproved .news-item .news-authorProfileLink:hover {
    color: unset;
}

.news-item:hover .news-column,
.news-item:hover .descriptionText,
.news-item:hover .news-content,
.news-item:hover .news-heading {
    color: $neutral-white;
}

.unapproved .news-item:hover .news-column,
.unapproved .news-item:hover .descriptionText,
.unapproved .news-item:hover .news-content,
.unapproved .news-item:hover .news-heading {
    color: $neutral-dark-gray;
}
