@import '../../../../vars';

.news-item {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 150ms;
    border-top: solid 1.5px $neutral-light-gray;
}

.news-item:hover {
    background-color: $primary-cyan;
    cursor: pointer;
    transition: background-color 150ms;
}

.news-item:hover .news-column,
.news-item:hover .descriptionText,
.news-item:hover .news-content,
.news-item:hover .news-heading {
    color: #fff;
}

.unapproved .news-item {
    background-color: $neutral-light-gray;
    border-color: $neutral-gray;
}
