@import '../../../../vars';

.news_item {
  padding: 1rem;
  align-items: center;
  transition: background-color 150ms;
  border-top: solid 1.5px $neutral-light-gray;

  .news_authorProfileLink {
    color: inherit;
  }
  .news_authorProfileLink:hover {
    text-decoration: underline;
  }

  &.unapproved {
    background-color: $neutral-light-gray;
    border-color: $neutral-gray2;
    font-style: italic;

    p {
      opacity: 0.6;
    }
  }

  &:hover {
    background-color: $primary-cyan;
    cursor: pointer;

    .news_column,
    .descriptionText,
    .news_content,
    .news_heading {
      color: $neutral-white;
    }
  }

  &:hover.unapproved {
    background-color: $neutral-gray2;

    p {
      opacity: 1;
    }

    .news_column,
    .descriptionText,
    .news_content,
    .news_heading {
      color: $neutral-dark-gray;
    }
  }

  button.btn {
    margin: 0.5rem;
  }

  button.deleteButton {
    border-color: $secondary-red;
    color: $secondary-red;
  }
}
