@import '../../../../vars';

.memberships {
  &_header {
    padding-left: 1rem;
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &_card {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    &_content {
      padding: 1rem !important;
      .noMemberships {
        padding-left: 16px;
      }
    }
    &_note {
      color: var(--mui-palette-neutral-700);
      background-color: var(--mui-palette-neutral-main);
      padding: 0.3rem 1rem;
      margin-top: 1rem;
      border-radius: 5px;
    }
  }
}

@media (max-width: $break-sm) {
  .memberships {
    &_header {
      padding-left: 0rem;
      justify-content: center;
      background-color: var(--mui-palette-primary-main);
      color: var(--mui-palette-primary-contrastText);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}
