.campus_safety {
  &_card {
    margin: 0.7rem;
  }

  &_alert {
    width: 35rem;
    border-width: 4px;
    border-radius: 1.5rem;
    border-style: solid;
    border-color: var(--mui-palette-error-main);
    padding: 1rem 7rem;
    white-space: nowrap;
  }

  b {
    color: var(--mui-palette-warning-main);
  }

  &_title {
    text-align: center;
    padding: 1rem;
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }
}
