@import '../../vars';

@media (min-width: $break-xs) {
  .contact-grid {
    align-content: center;
    justify-content: center;
  }
}

@media (min-width: $break-sm) {
  .profile-image {
    position: 'relative';
    opacity: 1;
    background-color: 'black';
    height: 200;
    width: 200;
    .tile-bar {
      opacity: 0; // make tile bar only visible on hover
    }
    &:hover {
      .tile-bar {
        transition: all 0.3s;
        opacity: 1;
        background: transparentize(
          $neutral-dark-gray,
          0.3
        ); // Make titles more readable over image background
        height: 64px; // Make space for a two-line title
        text-align: center;
      }
    }
    &:not(:hover) {
      .tile-bar {
        transition: all 0.3s;
        opacity: 0;
        background: transparentize(
          $neutral-dark-gray,
          0.3
        ); // Make titles more readable over image background
        height: 64px; // Make space for a two-line title
        text-align: center;
      }
    }
  }
}
@media (min-width: $break-sm) {
  .profile-image {
    position: 'relative';
    opacity: 1;
    background-color: 'black';
    height: 200;
    width: 200;
  }
  .tile-bar {
    opacity: 1;
    background: transparentize($neutral-dark-gray, 0.3);
    // Make titles more readable over image background
    height: 64px;
    // Make space for a two-line title
    text-align: center;
  }
}
