.profile_info_list_item {
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;

  & p:global(.MuiTypography-root) {
    text-align: left;
  }
}

.private {
  color: var(--mui-palette-neutral-500);
}

.privateNotMine,
.privateNotMine a {
  color: var(--mui-palette-error-main);
}

.not_private {
  opacity: 1;
  color: var(--mui-palette-neutral-contrastText);
}

.my_personal_info {
  & .private {
    color: var(--mui-palette-neutral-500);

    & .not_private {
      opacity: 1;
      color: var(--mui-palette-neutral-contrastText);
    }
  }
}

.public_personal_info {
  & .private {
    color: var(--mui-palette-error-main);

    & a.gc360_text_link {
      color: inherit;
    }

    & .not_private {
      color: var(--mui-palette-neutral-contrastText);
    }
  }
}