@import '../../../../vars.scss';

.profile-info-list-item {
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;

  & p.MuiTypography-root {
    text-align: left;
  }
}
