@import '../../../../vars';

#right-menu-triangle {
  position: absolute;
  right: 0.9rem;
  top: -0.55rem;
  background-color: $neutral-white;
  height: 1.1rem;
  width: 1.1rem;
  border: 1.5px solid $primary-blue;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
}

.right-side-nav-buttons {
  .MuiPopover-paper {
    overflow: visible;
  }
}
