.form_card {
  margin: 0.7rem;
}

.radio_group {
  display: contents;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  color: var(--mui-palette-error-light);
}

.category_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: var(--mui-palette-neutral-100);
  padding: 1rem;
  border-radius: 5px;
}

.category_item {
  width: 100%;
}

.radio_column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox_group {
  column-count: 3;
  background-color: var(--mui-palette-neutral-100);
  padding: 1rem;
  border-radius: 5px;
}

.stolen_container {
  padding: 0 1.5rem;
  background-color: var(--mui-palette-neutral-100);
  border-radius: 5px;
}

// .actionRow {
//   padding: 0 1.5rem;
// }

.submit_container {
  display: flex;
  justify-content: flex-end;
}

.submit_button {
  font-size: 1.2rem;
  padding: 0.7rem;
}

.icon {
  color: var(--mui-palette-neutral-400);
  height: 1.5em;
  width: 1.5em;
}

@media (max-width: 1000px) {
  .form_card {
    margin: 0.5rem;
  }

  .category_group {
    grid-template-columns: 1fr;
    padding: 0.8rem;
  }

  .checkbox_group {
    column-count: 1;
  }

  .stolen_container {
    padding: 1rem;
    text-align: left;
  }

  .submit_container {
    justify-content: center;
  }

  .submit_button {
    font-size: 1rem;
    padding: 1rem;
    width: fit-content;
  }
}
