.schedule_content {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 15% 20% 20% 5% 20% 15% 15%;
  grid-row-gap: 5px;
}

.title {
  grid-row: 1;
  grid-column: 2;
  justify-self: left;
}

.privacy {
  grid-row: 1;
  grid-column: 6;
  justify-self: right;
}

.description {
  grid-row: 2;
  grid-column: 2;
  justify-self: left;
}

.edit_description {
  grid-row: 2;
  grid-column: 5;
  justify-self: right;
}

.add_event {
  grid-row: 2;
  grid-column: 6;
  justify-self: right;
}

.remove_event {
  grid-row: 2;
  grid-column: 7;
  justify-self: right;
}

.schedule {
  grid-row: 3;
  grid-column: 2 / -1;
  justify-self: center;
}
