.requests {
  &_header.requests_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }

  & .weak {
    color: var(--mui-palette-link-main);
    font-size: 95%;
  }

  &_expand_icon {
    color: var(--mui-palette-primary-contrastText);
  }
}
