@import '../../../../vars';

.requests {
  &_header.requests_header {
    background-color: $primary-blue;
    color: $neutral-white;
  }

  & .weak {
    color: $neutral-gray;
    font-size: 85%;
  }
}
