@import '../../../../vars';

.requests {
  &_header.requests_header {
    background-color: var(--mui-palette-primary-300);
    color: $neutral-white;
  }

  & .weak {
    color: var(--mui-palette-primary-50);
    font-size: 85%;
  }
}
