.requests_received {
  &_list {
    flex-direction: column;
  }

  .message_text {
    /* format for the dropdown "no requests" text **/
    color: var(--mui-palette-neutral-500);
    text-align: center;
    padding: 32px;
  }
}
