@import '../../../../../../vars';

.requests-received {
  &-list {
    flex-direction: column;
  }

  .message_text {
    /* format for the dropdown "no requests" text **/
    color: grey;
    text-align: center;
    padding: 32px;
  }

  .deny-request-button {
    color: $secondary-red;
  }
}
