%text {
  text-transform: capitalize;
  padding-left: 10px;
  padding-right: 10px;
}

%icon {
  margin-right: 10px;
}

.label {
  color: var(--mui-palette-neutral-800);
  padding: 10px;
}

.container {
  padding-top: 10px;
  border-top: 1px solid var(--mui-palette-neutral-400);
}

.icon {
  &_current {
    @extend %icon;
    color: #293a48;
    font-size: large;
  }

  &_previous {
    @extend %icon;
    color: #8f8f8d;
    font-size: small;
  }
}

.text {
  &_current {
    @extend %text;
    color: var(--mui-palette-neutral-800);
  }

  &_previous {
    @extend %text;
    color: #8f8f8d;
  }
}
