@import '../../vars';

.activities-all {
  .activities-filter {
    background-color: $neutral-light-gray;
    margin-bottom: 2rem;
    padding-top: 1rem;

    // Keep filter section visible after scrolling
    position: sticky;
    top: -1rem;

    z-index: 2;
  }
}
