@import '../../../../../../vars';

// This is direct import from the API scss file. Needs to clean up some unnecessary design formats.
@import '../../../../../../../node_modules/react-big-calendar/lib/sass/styles.scss';

.rbc_btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc_btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc_btn {
  cursor: not-allowed;
}

button.rbc_input::_moz_focus_inner {
  border: 0;
  padding: 0;
}

.rbc_calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc_calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc_row_bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc_event_label {
  font-size: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc_row_segment .rbc_event_content {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  max-width: 100%;
}

.rbc_day_slot .rbc_event_content {
  font-size: 90%;
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}
.rbc_time_view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid $neutral-light-gray2;
  min-height: 0;
}
.rbc_time_view .rbc_time_gutter {
  white-space: nowrap;
}
.rbc_time_view .rbc_allday_cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.rbc_time_view .rbc_allday_cell + .rbc_allday_cell {
  border-left: 1px solid $neutral-light-gray2;
}
.rbc_time_view .rbc_allday_events {
  position: relative;
  z-index: 4;
}
.rbc_time_view .rbc_row {
  box-sizing: border-box;
  min-height: 0px;
}

.rbc_time_view_resources .rbc_time_header_content {
  min-width: 140px;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc_rtl {
  direction: rtl;
}

.rbc_off_range {
  color: $neutral-gray3;
}

.rbc_off_range_bg {
  background: $neutral-light-gray;
}

.rbc_header {
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 110%;
  min-height: 0;
  border-bottom: 1px solid $neutral-light-gray2;
}
.rbc_header + .rbc_header {
  border-left: 1px solid $neutral-light-gray2;
}
.rbc_rtl .rbc_header + .rbc_header {
  border-left-width: 0;
  border-right: 1px solid $neutral-light-gray2;
}
.rbc-header > a,
.rbc-header > a:active,
.rbc_header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc_row_content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc_today {
  background-color: $neutral-light-gray;
}

.rbc_btn_group {
  display: none;
  white-space: nowrap;
}
.rbc_btn_group + button {
  margin-left: 10px;
}
.rbc_btn_group button + button {
  margin-left: -1px;
}
.rbc_rtl .rbc_btn_group button + button {
  margin-left: 0;
  margin-right: -1px;
}
.rbc_btn_group > button:not(:first_child):not(:last_child) {
  border-radius: 0;
}
.rbc-btn-group + .rbc-btn-group,
.rbc_btn_group > button:first_child:not(:last_child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc_btn_group > button:last_child:not(:first_child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc_rtl .rbc_btn_group > button:first_child:not(:last_child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc_rtl .rbc_btn_group > button:last_child:not(:first_child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .rbc_toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .rbc_toolbar .rbc_toolbar_label {
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
  }
  .rbc_toolbar button {
    color: #373a3c;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid $neutral-gray2;
    padding: 0.375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;
  }
  .rbc_toolbar button:focus {
    color: #373a3c;
    background-color: $neutral-light-gray;
    border-color: $neutral-gray3;
  }
  .rbc_toolbar button:hover {
    color: #373a3c;
    background-color: $neutral-light-gray;
    border-color: $neutral-gray3;
  }

  .rbc-toolbar button:active,
  .rbc_toolbar button.rbc_active {
    background-image: none;
    box-shadow: inset 0 3px 5px $neutral-black-opacity125;
    background-color: $neutral-light-gray;
    border-color: $neutral-gray3;
  }
  .rbc-toolbar button:active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:hover,
  .rbc_toolbar button.rbc_active:focus {
    color: #373a3c;
    background-color: $neutral-light-gray2;
    border-color: $neutral-gray;
  }

  .rbc_event {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    background-color: #3174ad;
    border-radius: 5px;
    color: $neutral-white;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  .rbc_slot_selecting .rbc_event {
    cursor: inherit;
    pointer-events: none;
  }
  .rbc_event.rbc_selected {
    background-color: #265985;
  }
  .rbc_event:focus {
    outline: 5px auto #3b99fc;
  }

  .rbc_event_overlaps {
    box-shadow: -1px 1px 5px 0px $neutral-black-opacity55;
  }

  .rbc_event_continues_prior {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc_event_continues_after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .rbc_event_continues_earlier {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .rbc_event_continues_later {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .rbc_row {
    display: flex;
    flex-direction: row;
  }

  .rbc_row_segment {
    padding: 0 1px 1px 1px;
  }

  .rbc_selected_cell {
    background-color: $neutral-black-opacity10;
  }

  .rbc_show_more {
    background-color: $neutral-white-opacity30;
    z-index: 4;
    font-weight: bold;
    font-size: 85%;
    height: auto;
    line-height: normal;
  }

  .rbc_date_cell {
    flex: 1 1 0;
    min-width: 0;
    padding-right: 5px;
    text-align: right;
  }
  .rbc_date_cell.rbc_now {
    font-weight: bold;
  }
  .rbc-date-cell > a,
  .rbc-date-cell > a:active,
  .rbc_date_cell > a:visited {
    color: inherit;
    text-decoration: none;
  }

  .rbc_row_bg {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    overflow: hidden;
  }

  .rbc_time_header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
  }
  .rbc_time_header_cell_single_day {
    display: none;
  }

  .rbc_time_header_content {
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    border-left: 1px solid $neutral-light-gray2;
  }

  .rbc_day_bg {
    flex: 1 0 0%;
  }
  .rbc_time_view_resources .rbc_day_bg {
    width: 100%;
    flex: 1 1 0;
    flex-basis: 0 px;
  }
  .rbc_day_bg + .rbc_day_bg {
    border-left: 1px solid $neutral-light-gray2;
  }
  .rbc_rtl .rbc_day_bg + .rbc_day_bg {
    border-left-width: 0;
    border-right: 1px solid $neutral-light-gray2;
  }

  .rbc_overlay {
    position: absolute;
    z-index: 5;
    border: 1px solid $neutral-light-gray;
    background-color: $neutral-white;
    box-shadow: 0 5px 15px $neutral-black-opacity20;
    padding: 10px;
  }
  .rbc_overlay > * + * {
    margin-top: 1px;
  }

  .rbc_overlay_header {
    border-bottom: 1px solid $neutral-light-gray;
    margin: -10px -10px 5px -10px;
    padding: 2px 10px;
  }

  .rbc_time_column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .rbc_time_slot {
    flex: 1 0 0;
  }
  .rbc_time_slot.rbc_now {
    font-weight: bold;
  }

  .rbc_timeslot_group {
    border-bottom: 1px solid $neutral-light-gray2;
    min-height: 40px;
    display: flex;
    flex-flow: column nowrap;
  }
  .rbc_time_column .rbc_timeslot_group {
    flex: 1;
  }

  .rbc-time-gutter,
  .rbc_header_gutter {
    flex: none;
  }

  .rbc_label {
    padding: 0 5px;
  }

  .rbc_day_slot {
    position: relative;
  }
  .rbc_day_slot .rbc_events_container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;
  }
  .rbc_day_slot .rbc_events_container.rbc_is_rtl {
    left: 10px;
    right: 0;
  }
  .rbc_day_slot .rbc_event {
    border: 1px solid #265985;
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
  }
  .rbc_day_slot .rbc_event_label {
    flex: none;
    padding-right: 5px;
    width: auto;
  }

  .rbc_day_slot .rbc_time_slot {
    border-top: 1px solid $neutral-white;
  }

  .rbc-time-view-resources .rbc-time-gutter,
  .rbc_time_view_resources .rbc_time_header_gutter {
    position: sticky;
    left: 0;
    background-color: $neutral-white;
    border-right: 1px solid $neutral-light-gray2;
    z-index: 10;
    margin-right: -1px;
  }

  .rbc_time_view_resources .rbc_time_header {
    overflow: hidden;
  }

  .rbc_time_view_resources .rbc_time_header_cell_single_day {
    display: none;
  }

  .rbc_time_view_resources .rbc_day_slot {
    min-width: 140px;
  }

  .rbc-time-view-resources .rbc-header,
  .rbc_time_header_content + .rbc_time_header_content {
    margin-left: -1px;
  }

  .rbc_day_header {
    text-align: center;
  }

  .rbc_slot_selection {
    z-index: 10;
    position: absolute;
    background-color: $neutral-black-opacity55;
    color: $neutral-white;
    font-size: 75%;
    width: 100%;
    padding: 3px;
  }

  .rbc_slot_selecting {
    cursor: move;
  }

  .rbc_time_header.rbc_overflowing {
    border-right: 1px solid $neutral-light-gray2;
  }
  .rbc_rtl .rbc_time_header.rbc_overflowing {
    border-right-width: 0;
    border-left: 1px solid $neutral-light-gray2;
  }
  .rbc_time_header > .rbc_row:first_child {
    border-bottom: 1px solid $neutral-light-gray2;
  }
  .rbc_time_header > .rbc_row.rbc_row_resource {
    border-bottom: 1px solid $neutral-light-gray2;
  }

  .rbc_rtl .rbc_time_header_content {
    border-left-width: 0;
    border-right: 1px solid $neutral-light-gray2;
  }
  .rbc_time_header_content > .rbc_row.rbc_row_resource {
    border-bottom: 1px solid $neutral-light-gray2;
    flex-shrink: 0;
  }

  .rbc_time_content {
    display: flex;
    flex: 1 0 0%;
    align-items: flex-start;
    width: 100%;
    border-top: 2px solid $neutral-light-gray2;
    overflow-y: auto;
    position: relative;
  }
  .rbc_time_content > .rbc_time_gutter {
    flex: none;
  }
  .rbc_time_content > * + * > * {
    border-left: 1px solid $neutral-light-gray2;
  }
  .rbc_rtl .rbc_time_content > * + * > * {
    border-left-width: 0;
    border-right: 1px solid $neutral-light-gray2;
  }
  .rbc_time_content > .rbc_day_slot {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
  }

  .rbc_current_time_indicator {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #74ad31;
    pointer-events: none;
  }
}
