// @TODO CSSMODULES - Schedule Calendar needs work but left as normal for now
// Cannot convert to CSS Module because this is using a third party library
// These styles must not be converted by CSS Modules because the classes they are
// selecting/overiding are not converted (added afterwards)

// This is direct import from the API scss file. Needs to clean up some unnecessary design formats.
@import '../../../../../../../node_modules/react-big-calendar/lib/sass/styles';

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-event-label {
  font-size: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

.rbc-row-segment .rbc-event-content {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  max-width: 100%;
}

.rbc-day-slot .rbc-event-content {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  font-size: 90%;
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid var(--mui-palette-primary-main);
  background-color: var(--mui-palette-primary-main);
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid var(--mui-palette-neutral-dark);
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  background-color: var(--mui-palette-neutral-light);
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid var(--mui-palette-neutral-dark);
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 0px;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid var(--mui-palette-neutral-dark);
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: 140px;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: var(--mui-palette-neutral-700);
}

.rbc-off-range-bg {
  background: var(--mui-palette-neutral-main);
}

.rbc-header {
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 110%;
  min-height: 0;
  border-bottom: 0px solid var(--mui-palette-neutral-dark);
}

.rbc-header + .rbc-header {
  border-left: 1px solid var(--mui-palette-neutral-dark);
}

.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid var(--mui-palette-neutral-dark);
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-today {
  background-color: var(--mui-palette-neutral-main);
}

.rbc-btn-group {
  display: none;
  white-space: nowrap;
}

.rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-btn-group button + button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid var(--mui-palette-neutral-light);
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid var(--mui-palette-neutral-light);
}

.rbc-timeslot-group {
  border-bottom: 1px solid var(--mui-palette-neutral-dark);
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid var(--mui-palette-neutral-light);
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: var(--mui-palette-neutral-light);
  border-right: 1px solid var(--mui-palette-neutral-300);
  z-index: 10;
  margin-right: -1px;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--mui-palette-success-dark);
  pointer-events: none;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid var(--mui-palette-neutral-dark);
  overflow-y: auto;
  position: relative;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid var(--mui-palette-neutral-dark);
  flex-shrink: 0;
}
