@import '../../../../vars';

.selectedSurfaces {
  color: var(--mui-palette-neutral-500);
  text-align: left;
}

.surfacesContainer {
  margin-top: 2em;
}

.scrollableCenteredTabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
