.gordon_error {
  height: 100%;
}

.title {
  color: var(--mui-palette-primary-contrastText);
}

.text {
  color: var(--mui-palette-warning-main);
}

.errMessage {
  color: var(--mui-palette-error-light);
}

.link {
  color: var(--mui-palette-link-light);
  font-weight: bold;
  &:hover {
    color: var(--mui-palette-neutral-main);
    transition: color 0.5s;
  }
}
