@import '../../../../vars';
//som sort of css problem
.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 600px;
}

.swiper-slide img {
  width: 23vh;
  height: 32vh;
  object-fit: fill;
}

@media (max-width: $break-sm) {
  .header {
    font-size: 1rem;
  }

  .headerImg {
    width: 5em;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 450px;
  }
}
