@import '../../../../vars';

.event-row {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.event-column {
  padding-left: 10px;
  padding-right: 10px;
}

.event-row:hover .event-column {
  background-color: #b2bb1c;
  color: #fff;
}
