@import '../../_vars';

.form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

// .app-main {
//     height: 100vh ;
//     margin-top: 0 ;
//     padding: 0 ;
//     @media (min-width: $break-xs) {
//         padding-top: $header-height-xs ;
//     }
//     @media (min-width: $break-sm) {
//         padding-top: $header-height-sm ;
//     }
//     @media (min-width: $break-md) {
//         padding-top: $header-height-md ;
//     }
// }
