@import '../../../../../vars';

.gc360_header {
  background-color: var(--mui-palette-primary-main);
  padding: 15px 20px;
  color: var(--mui-palette-primary-contrastText);
}

.dialogContent {
  text-align: center;
  overflow: hidden;
}

.dropzoneContainer {
  padding: 20px;
  text-align: center;
}

.dropzoneImage {
  max-width: 90%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.cropperContainer {
  height: 80%;
  width: 80%;
}

.dialogActions {
  display: flex;
  justify-content: space-between;
}

.dialogButton {
  background-color: var(--mui-palette-primary-main);
  width: 100%;
}
.cancelButton {
  width: 100%;
}
.photoDialogError {
  color: red;
}
