.campus_safety {
  &_card {
    margin: 0.7rem;
  }

  b {
    color: var(--mui-palette-warning-main);
  }

  &_title {
    text-align: center;
    padding: 1rem;
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }
}
