@import '../../../../vars';

.myprofile-involvements {
  &-header {
    padding-left: 1rem;
    background-color: $primary-blue;
    color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &-card {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    &-content {
      padding: 1rem !important;
      &-button {
        background-color: $primary-cyan !important;
        color: white !important;
        margin: 0.5rem 0.5rem 1rem 0.5rem !important;
      }
      .noInvolvements {
        padding-left: 1rem;
        color: $primary-cyan;
      }
    }
  }
}

@media (max-width: $break-sm) {
  .myprofile-involvements {
    &-header {
      padding-left: 0rem;
      justify-content: center;
      background-color: $primary-blue;
      color: white;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }
}
