.category_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Two columns for categories
  gap: 0.5rem 1rem; // Adjust gap for better spacing
  padding: 0.5rem;
  background-color: var(--mui-palette-neutral-100);
  border-radius: 5px;
}

.radio_group {
  display: contents;
}

.category_item {
  width: 100%;
}

@media (max-width: 1000px) {
  .category_group {
    grid-template-columns: 1fr;
  }
}
