@import '../../vars';

.dropzone {
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  height: 18rem;
  border-style: dashed;
  border-radius: 1rem;
  border-color: var(--mui-palette-neutral-dark);
  &:hover {
    background-color: var(--mui-palette-neutral-main);
    box-shadow: 0 0 0 0.25rem var(--mui-palette-neutral-main);
  }
}

.dialog_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: $break-sm) {
  .dropzone {
    height: 10rem;
  }
}
