@import '../../vars';

$drawer-width: 240px;

.gordon-toolbar {
  position: absolute;
  width: 100%;

  background-color: $neutral-gray !important; // Must be `important` to override on mobile

  .app-bar {
    position: absolute;
  }
  @media (min-width: $break-md) {
    .app-bar {
      margin-left: $drawer-width;
      width: calc(100% - #{$drawer-width});
      background-color: $neutral-light-gray !important; // Must be `important` to override on mobile
    }
  }

  .title {
    flex: 1;
    margin-right: 10px;
  }

  .gordon-toolbar-links {
    display: inline-block;
    vertical-align: top;
  }

  .gordon-logo-horiz {
    max-width: 200%;
  }
}
