.form_card {
  margin: 0.7rem;
}

.radio_group {
  display: contents;
}

.box_background {
  background-color: var(--mui-palette-neutral-100);
  border-radius: 5px;
  padding: 1rem;
}

.category_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.category_item {
  width: 100%;
}

.checkbox_group {
  column-count: 3;
  background-color: var(--mui-palette-neutral-100);
}

.stolen_container {
  padding: 0 1.5rem;
  background-color: var(--mui-palette-neutral-100);
  border-radius: 5px;
  width: 100%;
}

.submit_container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.submit_button {
  font-size: 1rem;
  padding: 0.8rem;
  text-transform: uppercase;
}

.icon {
  color: var(--mui-palette-neutral-400);
  height: 1.5em;
  width: 1.5em;
}

.found-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 1rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.status-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .status-text {
    background-color: var(--mui-palette-success-main);
    color: var(--mui-palette-neutral-900);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-weight: bold;

    .found-text {
      color: var(--mui-palette-success-contrastText);
      font-weight: bold;
    }
  }
}

.info-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .info-icon {
    font-size: 2rem;
    color: var(--mui-palette-info-main);
  }

  .info-text {
    color: var(--mui-palette-text-primary);
  }
}

.pickup-button {
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
}

@media (max-width: 1000px) {
  .form_card {
    margin: 0.5rem;
  }

  .category_group {
    grid-template-columns: 1fr;
    padding: 0.8rem;
  }

  .checkbox_group {
    column-count: 2;
  }

  .stolen_container {
    padding: 1rem;
    text-align: left;
  }

  .submit_container {
    justify-content: center;
    padding-right: 0rem;
  }

  .submit_button {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
  .pickup_button {
    align-self: stretch;
    //margin-left: 0;
  }

  .found-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;
  }
}
