@import '../../../../vars';

.office-info-list {
  background-color: $alternative-red;
  &-header {
    background-color: $primary-blue;
    color: $neutral-white;
    padding-left: 1rem;
  }
}

@media (max-width: $break-sm) {
  .office-info-list {
    background-color: $alternative-red;
    &-header {
      padding-left: 0rem;
      justify-content: center;
    }
  }
}
