@import '../../../../vars';

.office_info_list {
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: $neutral-white;
    padding-left: 1rem;
  }
  .note {
    color: $neutral-black-opacity55;
    background-color: $neutral-light-gray;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
  &_link {
    color: var(--mui-palette-primary-main);
  }
}

@media (max-width: $break-sm) {
  .office_info_list {
    &_header {
      padding: 0;
      justify-content: center;
    }
  }
}
