@import '../../../../vars';

.office_info_list {
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding-left: 1rem;
  }
  .note {
    color: var(--mui-palette-neutral-contrastText);
    background-color: var(--mui-palette-neutral-main);
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
}

@media (max-width: $break-sm) {
  .office_info_list {
    &_header {
      padding: 0;
      justify-content: center;
    }
  }
}
