@import "../../vars";

.activity-edit-container {
  padding: 2rem;
  background: $white;
}
.activity-edit-upload {
  margin: 0 auto;
  outline: 2px dashed $dark-gray;
  height: 200px;
  text-align: center;
  padding: 1px;
}
.activity-edit-upload-description {
  text-align: center;
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 200px;
}
.activity-edit-upload:hover {
  cursor: pointer;
}
.activity-edit-upload-preview {
  max-height: 100%;
  max-width: 100%;
}
