.cardHeader {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

.filterBar {
  height: 3rem;
}

.title {
  font-size: larger;
}

.columnNames {
  font-size: small;
  margin-bottom: -0.5rem;
  padding-left: 1rem;
}

.reportList {
  padding: 0;
}

.reportRows {
  height: 4rem;
  padding-left: 2rem;
}

.reportRows:nth-child(even) {
  background-color: var(--mui-palette-neutral-200);
}
