.cardHeader {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

.filterBar {
  height: 3rem;
}

.title {
  font-size: larger;
}

.columnNames {
  font-size: small;
  margin-bottom: -0.5rem;
}
