@import '../../../../vars';

.gordon-activity-grid {
  .container {
    display: grid;
    color: #ffffff;
    background-color: $neutral-light-gray;
  }

  .item {
    background-color: white;
    color: $primary-blue;
    justify-content: center;
    padding: 20px;
    border-radius: 16px;
    font-size: 100%;
    text-align: center;
  }
  .title {
    display: grid;
  }
}
