@import '../../../../vars';

.gordon-activity-grid {
  .activity {
    text-align: center; // Center images when the tile is wider than the image

    .tile-bar {
      background: transparentize($neutral-dark-gray, .3); // Make titles more readable over image background
      height: 64px; // Make space for a two-line title
    }

    .title {
      align-items: flex-end;
      display: flex;
      height: 48px; // Limit to two lines of the title
      text-align: left;
      white-space: initial; // Allow title to wrap onto a second line
    }
  }
}
