@import '../../vars';

.office-list-card {
  background-color: $primary-red;
  &-header {
    background-color: $primary-blue;
    color: $neutral-white;
    padding-left: 1rem;
  }
  &-content {
    .number {
      p {
        color: $primary-blue;
      }
      &:hover {
        text-decoration: none !important;
        p {
          color: $primary-cyan !important;
        }
      }
    }
    .MuiGrid-item {
      // Makes all items within the list aligned to the left
      text-align: left !important;
    }
  }
}

@media (max-width: $break-sm) {
  .office-list-card {
    background-color: $primary-red;
    &-header {
      padding-left: 0rem;
      justify-content: center;
    }
  }
}
