.news {
  &_title {
    color: var(--mui-palette-neutral-contrastText);
  }
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding: 10px;
  }
}
