@import '../../../../vars';

%news_list {
  margin-bottom: 1rem;

  .header {
    background-color: $primary-blue;
    color: white;
    padding: 10px;
  }

  .card_header {
    background-color: $primary-blue;
    color: white;
    padding: 0px;
    text-align: center;
  }

  .list {
    padding: 0px;
  }

  .typography {
    text-align: center;
    padding: 1rem;
  }
}

.news_list {
  @extend %news_list;
}

.full_news_list {
  @extend %news_list;

  &:global(.MuiPaper-root) {
    border-radius: 0 0 4px 4px;
  }
}
