@import '../../../../../../vars';

.stylized-table-head {
  background-color: $primary-blue;
  color: $neutral-white;
}

// Make rows alternate white and grey
.stylize-table-row > :nth-of-type(even) {
  background-color: $neutral-light-gray;
}

.stylize-table-row > :nth-of-type(odd) {
  background-color: $neutral-white;
}
