div.staff_apartment_application {
  & :global(.MuiToolbar-root).stylized_table_toolbar {
    color: var(--mui-palette-primary-main);
    padding-top: 0;
    padding-bottom: 0;
  }

  & :global(.MuiTableHead-root).stylized_table_head {

    :global(.MuiTableCell-head),
    :global(.MuiTableCell-stickyHeader),
    :global(.MuiTableSortLabel-root) {
      background-color: var(--mui-palette-primary-main);
      color: var(--mui-palette-primary-contrastText);

      svg:global(.MuiSvgIcon-root).MuiTableSortLabel-icon {
        color: var(--mui-palette-primary-contrastText);
      }
    }
  }

  // Make rows alternate white and grey
  & .striped_table>tr:nth-child(even) {
    background-color: var(--mui-palette-neutral-main);
  }

  & .striped_table>tr:nth-child(odd) {
    background-color: var(--mui-palette-neutral-light);
  }

  // Make rows alternate white and grey but in groups of two
  // (Needed to make the collapsible sub-tables match the row above
  & .double_striped_table>tr:nth-child(4n),
  & .double_striped_table>tr:nth-child(4n - 1) {
    background-color: var(--mui-palette-neutral-main);
  }

  & .double_striped_table>tr:nth-child(4n - 2),
  & .double_striped_table>tr:nth-child(4n - 3) {
    background-color: var(--mui-palette-neutral-light);
  }

  // (CSSMODULES - fix mui overrides - disable no-descending-specificity)
  /* stylelint-disable-next-line */
  & :global(.MuiTableCell-root).collapsible_row {
    padding-top: 0;
    padding-bottom: 0;
  }

  // (CSSMODULES - fix mui overrides - disable no-descending-specificity)
  /* stylelint-disable-next-line */
  & :global(.MuiTable-root).sub_table {
    border-left: 2px solid var(--mui-palette-neutral-400);
    border-right: 2px solid var(--mui-palette-neutral-400);
    border-bottom: 1px solid var(--mui-palette-neutral-400);
  }
}