@import '../../../../../../vars';

div.staff-apartment-application {
  & .MuiToolbar-root.stylized-table-toolbar {
    color: $primary-blue;
    padding-top: 0;
    padding-bottom: 0;
  }

  & .MuiTableHead-root.stylized-table-head {
    .MuiTableCell-head,
    .MuiTableCell-stickyHeader,
    .MuiTableSortLabel-root {
      background-color: $primary-blue;
      color: $neutral-white;
      svg.MuiSvgIcon-root.MuiTableSortLabel-icon {
        color: $neutral-white;
      }
    }
  }

  // Make rows alternate white and grey
  & .striped-table > tr:nth-child(even) {
    background-color: $neutral-light-gray;
  }

  & .striped-table > tr:nth-child(odd) {
    background-color: $neutral-white;
  }

  // Make rows alternate white and grey but in groups of two
  // (Needed to make the collapsible sub-tables match the row above
  & .double-striped-table > tr:nth-child(4n),
  & .double-striped-table > tr:nth-child(4n - 1) {
    background-color: $neutral-light-gray;
  }

  & .double-striped-table > tr:nth-child(4n - 2),
  & .double-striped-table > tr:nth-child(4n - 3) {
    background-color: $neutral-white;
  }

  & .MuiTableCell-root.collapsible-row {
    padding-top: 0;
    padding-bottom: 0;
  }

  & .MuiTable-root.sub-table {
    border-left: 2px solid $neutral-black-opacity10;
    border-right: 2px solid $neutral-black-opacity10;
    border-bottom: 1px solid $neutral-black-opacity10;
  }
}
