@import '../../../../../../vars';

.update {
  margin-top: 1em;

  & :global(.MuiCard-root) {
    margin-bottom: 1em;
  }

  &_header {
    background-color: $primary-blue-600;
    color: $neutral-white;
  }
}
