/* Style sheet for CoCurricular Transcript view */

.co-curricular-transcript {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: stretch;
  text-align: center;
}

/* For large screens */
.card {
  grid-column: 2;
}

.card-content {
  display: grid;
  font-size: 48px;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
}

.button {
  align-items: center;
  justify-content: center;
}

.intro {
  font-size: 30%;
}

.name {
  font-size: 100%;
}

.majors-minors {
  font-size: 30%;
  justify-self: flex-start;
}

.subtitle {
  font-size: 60%;
  grid-column: 1 / -1;
  justify-self: flex-start;
}

.activity-list {
  font-size: 30%;
  grid-column: 1 / -1;
}

/*.column-headers {
  display: grid;
  grid-template-columns: 5% 70% 25%;
  grid-column: 1 / -1; // not sure if this can be declared a container (display: grid) and be given
                       // item properties (grid-column: 1 / -1
  justify-items: stretch;
}

.organization-role {
  grid-column: 2;
  text-align: left;
}

.date {
  grid-column: 3;
  justify-self: flex-end;
  text-align: center;
}*/

/* For small and medium screens (1024px wide or less) */
@media (max-width: 1024px) {
  .card {
    grid-column: 1 / -1; /* -1 makes item go all the way to right edge of container */
  }
}

/* @media print takes effect when in a print view (eg after hittig Print Co-Curricular Transcript).
   Allows logo to only show when printing. */
@media print {
  body {
    // hides the header (with people search etc.)
    visibility: hidden;
  }
  /*
  .heading * {
    visibility: visible;
  }
  .print * {
    visibility: visible;
    overflow: visible;
  }
  .print-only * {
    visibility: visible;
    padding: 0%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
  }*/

  .co-curricular-transcript,
  .card-content,
  .subtitle,
  .activity-list {
    visibility: visible;
  }

  .button {
    display: none !important;
  }

  .card {
    visibility: hidden;
  }
}

/* @media screen is css that is in effect when a certain view is on display */
@media screen {
  .print-only * {
    visibility: hidden;
    border-spacing: 0;
    border-collapse: collapse;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
