.card {
  margin: 0.7rem;
  border-radius: 8px;
}

/* Title styling */
.title {
  text-align: center;
  padding: 1rem;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

/* Styling for colored text */
.gordonText {
  color: var(--mui-palette-warning-main); /* Applying specific color for "Gordon" */
}

.missingText {
  color: var(--mui-palette-warning-main); /* Applying specific color for "Missing" */
}

/* Styling for the header row (Date Lost, Location, etc.) */
.headerRow {
  margin-top: 10px;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  padding: 10px 0;
}

/* Data row background color */
.dataRow {
  background-color: var(--mui-palette-neutral-light);
  margin-bottom: 10px;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Past Reports Data Row */
.pastDataRow {
  background-color: var(--mui-palette-neutral-light);
  margin-bottom: 10px;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Button styles for hover and padding */
.reportButton {
  background-color: var(--mui-palette-info-main);
  color: var(--mui-palette-primary-contrastText);
  padding: 10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
}

.reportButton:hover {
  background-color: var(--mui-palette-info-dark);
}

/* Button alignment */
.buttonLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Mobile-specific styling for Active Reports */
.mobileDataRow {
  padding: 0.3rem 0.5rem;
  margin-bottom: 8px;
  .MuiTypography-root {
    font-size: 0.8rem;
    line-height: 1.1;
  }
  .MuiIconButton-root {
    padding: 2px;
  }
  .actionsRow {
    display: flex;
    justify-content: space-between;
  }
}

/* Mobile-specific styling for Past Reports */
.mobilePastDataRow {
  padding: 0.3rem 0.5rem;
  margin-bottom: 8px;
  .MuiTypography-root {
    font-size: 0.8rem;
    line-height: 1.1;
  }
  .MuiIconButton-root {
    padding: 2px;
  }
  .actionsRow {
    display: flex;
    justify-content: space-between;
  }
}

/* Responsive Styling */
@media (max-width: 600px) {
  .dataRow,
  .pastDataRow {
    padding: 0.3rem 0.5rem;
    margin-bottom: 8px;
  }

  .dataRow .MuiTypography-root,
  .pastDataRow .MuiTypography-root {
    font-size: 0.85rem;
    line-height: 1.1;
  }

  // .dataRow > .MuiGrid-item {
  //   margin-top: 2px; /* Slight separation between items */
  // }

  // /* Center icons and reduce padding */
  // .dataRow .MuiIconButton-root {
  //   padding: 3px; /* Smaller icon button padding */
  // }

  // /* Flex layout for edit and delete icons */
  // .actionsRow {
  //   display: flex;
  //   justify-content: space-around;
  //   padding-top: 4px;
  // }

  .title h4 {
    font-size: 1.5rem;
  }
  .reportButton {
    font-size: 0.9rem;
    padding: 8px 20px;
  }
  .headerRow {
    flex-direction: column;
    text-align: left;
  }
}
