@import '../../vars';

.help {
  margin: 1rem;

  li {
    list-style-type: '• ';
  }

  li li {
    list-style-type: '- ';
  }

  &_title {
    text-align: center;
    padding: 1rem;
    color: var(--mui-palette-neutral-contrastText);
  }

  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }

  &_section:global(.MuiCard-root) {
    box-shadow: none;
    color: var(--mui-palette-neutral-contrastText);
  }
}
