@import '../../../../vars';

.header {
  font-size: 0.8rem;

  h5 {
    font-size: 1.5em;
  }
  .teamInfo {
    flex-direction: column;
    text-align: center;
  }
  .matchScore {
    white-space: nowrap;
    font-weight: bold;
    color: var(--mui-palette-neutral-800);
  }
  .headerImg {
    width: 4.5em;
    object-fit: cover;
    border-radius: 50%;
  }
  .headerImgContainer {
    order: -1;
  }
}

@media (min-width: $break-sm) {
  .header {
    font-size: 0.9rem;

    .headerImg {
      width: 6em;
      object-fit: cover;
      border-radius: 50%;
    }
    .teamInfo {
      flex-direction: row;
      align-items: center;
    }
    .teamInfoLeft {
      text-align: right;
    }
    .teamInfoRight {
      text-align: left;
    }
    .headerImgContainer {
      order: 0;
    }
  }
}

@media (min-width: $break-lg) {
  .header {
    font-size: 1rem;

    .teamName {
      font-size: 1.5rem;
    }
  }
}

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

:global(.MuiCardHeader-root).cardHeader {
  padding: 0.7em 16px;
}

.cardHeader :global(.MuiCardHeader-title) {
  font-size: 1em;
}

.grayText {
  color: var(--mui-palette-neutral-500);
}

.title {
  font-weight: bold;
  color: var(--mui-palette-neutral-800);
}

.multiTeamWinner {
  color: var(--mui-palette-success-main);
  font-weight: bold;
}

.subtitle {
  color: var(--mui-palette-neutral-500);
  font-size: 0.9em;
}

.redButton {
  background-color: var(--mui-palette-error-main);
  color: var(--mui-palette-error-contrastText);
}

.redButton:hover {
  background-color: var(--mui-palette-error-light);
}

.greenMenuButton {
  background-color: var(--mui-palette-neutral-100);
  transition: all 0.2s ease-in-out;
}

.greenMenuButton:hover {
  background-color: var(--mui-palette-neutral-100);
  box-shadow: inset -2px -2px var(--mui-palette-success-main),
    inset 2px 2px var(--mui-palette-success-main);
  transition: all 0.2s ease-in-out;
}

.titleInnerBox {
  background-color: var(--mui-palette-error-main);
  color: var(--mui-palette-error-contrastText);
}

.matchWinner {
  font-weight: bold;
  text-decoration: underline var(--mui-palette-success-main) 0.2em;
}

.menuTitle {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: var(--mui-palette-neutral-500);
  text-align: center;
}

.menuButton {
  background-color: var(--mui-palette-neutral-100);
}

.menuButton:hover {
  background-color: var(--mui-palette-neutral-A700);
}
