@import '../../../../vars';

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: $primary-blue;
  color: $neutral-white;
}

:global(.MuiCardHeader-root).cardHeader {
  padding: 0.7em 16px;
}

.cardHeader :global(.MuiCardHeader-title) {
  font-size: 1em;
}

.grayText {
  color: $neutral-gray;
}

.editIconButton {
  background-color: $secondary-yellow;
  color: $neutral-black;
}

.editIconButton:hover {
  background-color: rgb(177, 129, 13);
}
