@import '../../../../vars';
.timesheets {
  // Make rows alternate white and grey
  /* stylelint-disable */
  .shift-list > .shift-item:nth-child(even) {
    background: $neutral-light-gray;
    &:hover {
      background-color: $primary-cyan;
    }
  }

  .shift-list > .shift-item:nth-child(odd) {
    background: $neutral-white;
    &:hover {
      background-color: $primary-cyan;
    }
  }
}
