@import '../../../../vars';

// Make rows alternate white and grey
/* stylelint-disable */
.shift-list > .shift-item:nth-child(even) {
  background: #ebeaea;
  &:hover {
    background-color: $primary-cyan;
    //   cursor: pointer;
  }
}

.shift-list > .shift-item:nth-child(odd) {
  background: #ffffff;
  &:hover {
    background-color: $primary-cyan;
    //   cursor: pointer;
  }
}
