@import '../../../../vars';
.timesheets {
  // Make rows alternate white and grey
  /* stylelint-disable */
  .shift_list > .shift_item:nth_child(even) {
    background: $neutral-light-gray;
    &:hover {
      background-color: $primary-cyan;
    }
  }

  .shift_list > .shift_item:nth_child(odd) {
    background: $neutral-white;
    &:hover {
      background-color: $primary-cyan;
    }
  }
}
