@import '../../../../vars';
.timesheets {
  // Make rows alternate white and grey
  /* stylelint-disable */
  .shift_list > .shift_item:nth-child(even) {
    background: $neutral-light-gray;
    &:hover {
      background-color: $primary-cyan;
    }
  }

  .shift_list > .shift_item:nth-child(odd) {
    background: $neutral-white;
    &:hover {
      background-color: $primary-cyan;
    }
  }

  &_RButton {
    background-color: var(--mui-palette-error-main);
    color: var(--mui-palette-primary-contrastText);
  }

  &_headerStyle {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }
}
