.title {
  text-align: center;
  padding: 1rem;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  border-radius: 5px;
}

.titleSecondary {
  text-align: flex-start;
  padding: 1rem;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  border-radius: 5px;
}

.spacing {
  padding: 5px;
}

.filterCardPosition {
  transform: translateY(15px);
}

.filterTitle {
  color: var(--mui-palette-primary-contrastText); // Warning color for emphasis
  background-color: var(--mui-palette-primary-main); // Primary color for header
}

.textField {
  flex-grow: 1;
  min-width: 180px;
}

.filterTitleText {
  font-size: medium;
  b {
    font-size: x-large;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--mui-palette-primary-contrastText); // Contrast text color for readability
  padding: 1rem;
  border-radius: 5px;
}

.formControl {
  min-width: 180px;
}

.tableHeader {
  padding: 1rem; // Ensure this style applies in production build
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  min-width: 600px;
  border-radius: 5px;
}

.reportRow {
  display: flex;
  align-items: center;
  height: 3rem;
  min-height: fit-content;
  padding: 1rem;
  border-bottom: 1px solid var(--mui-palette-neutral-400);
  color: var(--mui-palette-neutral-contrastText);
  width: 630px;

  &:nth-child(even) {
    background-color: var(--mui-palette-neutral-100); // Slightly darker neutral for zebra striping
  }

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.2s;
  &:nth-child(even) {
    background-color: var(--mui-palette-neutral-100); // Slightly darker neutral for zebra striping
  }
  &:hover {
    background-color: var(--mui-palette-primary-light); // Light hover effect
  }
}

.dataCell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 0.5rem;
}

.scrollBox {
  max-height: 300px;
  overflow-y: auto;
}

.infoText {
  color: var(--mui-palette-primary-contrastText);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
