@import '../../../../vars';

.emrg_info_list {
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding-left: 1rem;
  }

  .disclaimer {
    color: var(--mui-palette-error-main);
    background-color: var(--mui-palette-neutral-main);
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
}

@media (max-width: $break-sm) {
  .emrg_info_list {
    &_header {
      padding-left: 0rem;
      justify-content: center;
    }
  }
}
