.personal-info-list-header {
  background-color: #014983;
  color: #ffffff;
  padding-left: 1rem;
}

.personal-info-list .note {
  color: #0000008c;
  background-color: #ebeaea;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.personal-info-list .disclaimer {
  color: #b53228;
  background-color: #ebeaea;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.my-personal-info .private {
  color: #00000066;
}
.my-personal-info .private .not-private {
  opacity: 1;
  color: rgba(0, 0, 0, 0.87);
}

.public-personal-info .private {
  color: #b53228;
}
.public-personal-info .private a.gc360-text-link {
  color: inherit;
}
.public-personal-info .private .not-private {
  color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 600px) {
  .personal-info-list-header {
    padding-left: 0rem;
    justify-content: center;
  }
}
