@import '../../../../vars';

.emrg-info-list {
  &-header {
    background-color: $primary-blue;
    color: $neutral-white;
    padding-left: 1rem;
  }

  .note {
    color: $neutral-black-opacity55;
    background-color: $neutral-light-gray;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }

  .disclaimer {
    color: $secondary-red;
    background-color: $neutral-light-gray;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
}

.my-emrg-info {
  & .private {
    color: $neutral-black-opacity40;

    & .not-private {
      opacity: 1;
      color: $dark-text-color;
    }
  }
}

.public-emrg-info {
  & .private {
    color: $secondary-red;

    & a.gc360-text-link {
      color: inherit;
    }

    & .not-private {
      color: $dark-text-color;
    }
  }
}

@media (max-width: $break-sm) {
  .emrg-info-list {
    &-header {
      padding-left: 0rem;
      justify-content: center;
    }
  }
}
