// Root container styles for the dialog
.title {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.notice {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: var(--mui-palette-secondary-main);
  @media (max-width: 600px) {
    font-size: 0.9rem; // Adjust for smaller screens
  }
}

.subtext {
  text-align: center;
  margin-top: 0.5rem;
  color: var(--mui-palette-neutral-700);
  font-size: 0.9rem;

  @media (max-width: 600px) {
    font-size: 0.8rem; // Adjust for smaller screens
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.cancelButton {
  background-color: var(--mui-palette-error-light);
  color: var(--mui-palette-primary-contrastText);
  font-weight: bold;

  &:hover {
    background-color: var(--mui-palette-error-main);
  }
}

.submitButton {
  background-color: var(--mui-palette-secondary-main);
  color: var(--mui-palette-primary-contrastText);
  font-weight: bold;

  &:hover {
    background-color: var(--mui-palette-secondary-dark);
  }
}
