@import '../../../../vars';
.timesheets {
  .job-tabs {
    display: inline-flex !important;
    margin-bottom: 8px;
    box-shadow: 0px 1px 2px 0px $neutral-black-opacity55;
  }

  .job-tab {
    border-left: 0.5px solid $neutral-gray !important;
    border-right: 0.5px solid $neutral-gray !important;
  }

  .job-tab.Mui-selected {
    background-color: $neutral-light-gray !important;
  }

  .job-tabs .MuiTabs-indicator {
    display: none;
  }
}
