@use 'sass:color';
@import '../../../../../vars';

.listing {
  background-color: $neutral-light-gray2-opacity10;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 1em;
  border-radius: 0.5em;
  align-items: center;
  box-shadow: inset -1px -1px $neutral-light-gray2-opacity50;
  transition: all 0.3s ease-in-out;
}

//trial new listing look
.listing:hover {
  background-color: $neutral-light-gray2-opacity40;
  box-shadow: inset 1px 1px $neutral-black-opacity10;
  transition: all 0.3s ease-in-out;
}

.attendedListing {
  outline: solid 1px $secondary-green;
}

.absentListing {
  opacity: 0.6;
  font-style: italic;
}

:global(.MuiList-padding) {
  padding: 0;
}

.redButton {
  background-color: $secondary-red;
  color: $neutral-white;
}

.redButton:hover {
  background-color: $alternative-red;
}

.rejectIcon {
  width: 2rem;
  height: 2rem;
  background-color: $primary-blue;
  color: $neutral-white;
}

.rejectIcon:hover {
  background-color: $primary-blue-300;
}

.acceptIcon {
  width: 2rem;
  height: 2rem;
  background-color: $primary-cyan;
  color: $neutral-white;
}

.acceptIcon:hover {
  background-color: $primary-cyan-600;
}

.avatar {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem 0 0;
}

.avatarSmall {
  width: 2rem;
  height: 2rem;
}

.listingTitle {
  color: $neutral-dark-gray2;
  font-weight: bold;
  font-size: 0.9em;
}

.listingSubtitle {
  color: $neutral-gray;
  font-size: 0.8em;

  &_small {
    color: $neutral-gray;
    font-size: 0.7em;
  }
}

.listingAdditionalInfo {
  color: $neutral-dark-gray2;
  font-style: italic;
  font-size: 0.8em;
}

.matchWinner {
  font-weight: bold;
  text-decoration: underline 0.2em $secondary-green;
}

.activityType_league {
  background-color: #edb1ad;
}

.activityType_tournament {
  background-color: #d2cb5c;
}

.activityType_oneoff {
  background-color: #ffd040;
}

.teamLogo {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}

@media (min-width: $break-xs) {
  .rightAlignLarge {
    text-align: right;
    justify-content: flex-end;
  }

  .listingSubtitle {
    color: $neutral-gray;
    font-size: 0.7em;

    &_small {
      color: $neutral-gray;
      font-size: 0.6em;
    }
  }

  .listingTitle {
    color: $neutral-dark-gray2;
    font-weight: bold;
    font-size: 1.1em;
  }
}

@media (max-width: $break-sm) {
  .listingWrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $break-sm) {
  .teamLogo {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem 0 0;
  }

  .rejectIcon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $primary-blue;
    color: $neutral-white;
  }
  .acceptIcon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $primary-cyan;
  }
}
