@import '../../../../../vars';

.listing {
  background-color: $neutral-light-gray;
  padding: 1em;
  border-radius: 0.5em;
}

.listing:hover {
  background-color: $neutral-light-gray2;
}

:global(.MuiList-padding) {
  padding: 0;
}

.redButton {
  background-color: $secondary-red;
  color: $neutral-white;
}

.redButton:hover {
  background-color: $alternative-red;
}

.avatar {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem 0 0;
}

.avatarSmall {
  width: 2rem;
  height: 2rem;
}

.listingTitle {
  color: $neutral-dark-gray2;
  font-weight: bold;
  font-size: 1.1em;
}

.activityType_league {
  background-color: #edb1ad;
}

.activityType_tournament {
  background-color: #d2cb5c;
}

.activityType_oneoff {
  background-color: #ffd040;
}
