@import '../../../../../vars';

.listing {
  background-color: $neutral-light-gray;
  padding: 1em;
  border-radius: 0.5em;
}

.avatar {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem 0 0;
}

.listingTitle {
  color: $neutral-dark-gray2;
  font-weight: bold;
  font-size: 1.1em;
}
