@import '../../../../vars';

$image-border-radius: 50%;
// Main Image
$image-main-height-mobile: 12.5rem;
$image-main-height-desktop: 14.375rem;
$image-main-width-mobile: 12.5rem;
$image-main-width-desktop: 14.375rem;
// Side Image
$image-side-height-mobile: 5rem;
$image-side-height-desktop: 5.625rem;
$image-side-width-mobile: 5rem;
$image-side-width-desktop: 5.625rem;

// SNACKBAR STYLES

// PHOTO DIALOG STYLES
.gc360-photo-dialog {
  &-box {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    padding-bottom: 1rem;
    &_alert {
      grid-row: 1;
    }
    &_title {
      grid-row: 2;
      background-color: $primary-blue;
      text-align: center;
      color: white;
    }
    &_content {
      display: grid;
      grid-row: 3;
      grid-template-rows: auto auto;
      grid-row-gap: 0.625rem;
      justify-items: center;
      &_text {
        grid-row: 1;
        text-align: center;
        max-width: 17.8125rem;
      }
      &_dropzone {
        transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
        width: 18rem;
        height: 18rem;
        display: flex;
        border-style: dashed;
        border-width: 0.2rem;
        border-radius: 1rem;
        border-color: darkgray;
        justify-content: center;
        align-items: center;
        outline: none;
        &:hover {
          background-color: #dddddd;
          box-shadow: 0 0 0 0.25rem #dddddd;
        }
        &_img {
          border-radius: 0.5rem;
          height: 90%;
          width: 90%;
        }
      }
      &_cropper {
        grid-row: 2;
      }
      &_button {
        grid-row: 3;
        margin-top: 1rem !important;
      }
    }
    &_actions-top {
      grid-row: 4;
      padding-top: 0rem !important;
      padding-bottom: 1rem !important;
      justify-content: center !important;
      button {
        width: 86%;
      }
    }
    &_actions-middle {
      grid-row: 5;
      justify-content: space-evenly !important;
      button {
        width: 38%;
      }
    }
    &_actions-bottom {
      grid-row: 6;
      justify-content: space-evenly !important;
      button {
        width: 38%;
      }
    }
  }
}

// IDENTIFICATION CARD STYLES
.identification {
  height: 100%;
  &-card {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0.25rem;
    height: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &-header {
      background-color: $primary-blue;
      color: white;
      padding-left: 1rem;
      hyphens: auto;
    }
    &-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      &-card {
        padding: 2rem 1rem 0rem 1rem;
        &-container {
          max-width: 50rem;
          margin: auto 2rem;
          &-photo {
            margin: 1rem 2rem 2rem 2rem !important;
            position: relative;
            &-main {
              border-radius: $image-border-radius !important;
              transition: width 500ms, height 500ms !important;
              border: 1px solid $primary-blue !important;
              z-index: 1 !important;
              overflow: hidden !important;
              width: $image-main-width-desktop;
              height: $image-main-height-desktop;
              position: relative;
              &-container {
                position: absolute;
                &-image {
                  width: $image-main-width-desktop;
                  height: $image-main-height-desktop;
                }
                &-tile-bar {
                  position: absolute;
                  margin: 0rem;
                  padding: 0.5rem 0rem 2rem 0rem;
                  top: 89%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 100%;
                  color: white;
                  background: transparentize(
                    $primary-blue,
                    0.5
                  ); // Make titles more readable over image background
                  // Make space for a two-line title
                  text-align: center;
                }
              }
              &-button {
                position: absolute;
                background-color: transparent;
                border-radius: $image-border-radius;
                width: $image-main-width-desktop;
                height: $image-main-height-desktop;
                &:hover {
                  cursor: pointer;
                }
              }
            }
            &-side {
              position: absolute;
              z-index: 2;
              border: 1px solid $primary-blue;
              display: flex;
              box-sizing: border-box;
              border-radius: $image-border-radius;
              transform: translate(-35%, -270%);
              overflow: hidden !important;
              &-image {
                border-radius: $image-border-radius;
                width: $image-side-width-desktop;
                height: $image-side-height-desktop;
              }
              &-button {
                position: absolute;
                background-color: transparent;
                border-radius: $image-border-radius;
                width: $image-side-width-desktop;
                height: $image-side-height-desktop;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
          &-info {
            max-width: 37.5rem;
            transition: width 500ms;
            margin: auto 1rem;
            color: rgba(0, 0, 0, 0.87);
            overflow-wrap: anywhere;
            overflow: hidden;
            hyphens: auto;
            &-social-media {
              border-bottom: 1px solid rgba(0, 0, 0, 0.54);
              margin-bottom: 1rem !important;
              .gc360-my-profile {
                &_icon {
                  font-size: 2.25rem;
                  color: $primary-blue;
                  transition: color 200ms, scale 1s;
                  &:hover {
                    color: $primary-cyan !important;
                    transform: scale(1.2) !important;
                  }
                }
                &_edit-icon {
                  margin-bottom: 0.5rem;
                }
              }
            }
            &-class {
              color: rgba(0, 0, 0, 0.54);
            }
            &-email {
              display: inline-block;
              a:hover {
                text-decoration: none;
              }
              &-container {
                color: $primary-blue;
                display: flex;
                &:hover {
                  color: $primary-cyan;
                }
                &-icon {
                  margin-right: 0.75rem;
                }
              }
            }
          }
        }
      }
      &-public-profile-link {
        margin: 1rem auto;
        &:hover {
          text-decoration: none;
        }
        &-button {
          font-size: 1rem !important;
          color: white !important;
          background-color: $primary-cyan !important;
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}

@media (max-width: $break-sm) {
  .gc360-photo-dialog {
    height: 100%;
    &-box {
      &_content {
        &_dropzone {
          width: 12em;
          height: 12rem;
        }
        &_cropper {
          padding-right: 1.25rem;
        }
      }
    }
  }
  .identification {
    &-card {
      &-header {
        justify-content: center;
        padding-left: 0rem;
      }
      &-content {
        &-card {
          &-container {
            &-photo {
              width: $image-main-width-mobile;
              height: $image-main-height-mobile;
              &-main {
                width: $image-main-width-mobile;
                height: $image-main-height-mobile;
                &-container {
                  &-image {
                    width: $image-main-width-mobile;
                    height: $image-main-height-mobile;
                  }
                  &-tile-bar {
                    top: 85%;
                    padding: 0.5rem 0rem 1.5rem 0rem;
                  }
                }
                &-button {
                  width: $image-main-width-mobile;
                  height: $image-main-height-mobile;
                }
              }
              &-side {
                &-image {
                  // transform: translateY(-50%);
                  width: $image-side-width-mobile;
                  height: $image-side-height-mobile;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
            &-info {
              width: 90%;
              &-email {
                &-container {
                  &-icon {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
