@import '../../../../vars';

$image-border-radius: 50%;
$image-height-mobile: 200px;
$image-height-desktop: 230px;
$image-width-mobile: 200px;
$image-width-desktop: 230px;

// SNACKBAR STYLES

// PHOTO DIALOG STYLES
.gc360-photo-dialog {
  &-box {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    padding-bottom: 1rem;
    &_alert {
      grid-row: 1;
    }
    &_title {
      grid-row: 2;
      background-color: $primary-blue;
      text-align: center;
      color: white;
    }
    &_content {
      display: grid;
      grid-row: 3;
      grid-template-rows: auto auto;
      grid-row-gap: 10px;
      justify-items: center;
      &_text {
        grid-row: 1;
        text-align: center;
        max-width: 285px;
      }
      &_dropzone {
        transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
        width: 18rem;
        height: 18rem;
        display: flex;
        border-style: dashed;
        border-width: 0.2rem;
        border-radius: 1rem;
        border-color: darkgray;
        justify-content: center;
        align-items: center;
        outline: none;
        &:hover {
          background-color: #dddddd;
          box-shadow: 0 0 0 0.25rem #dddddd;
        }
        &_img {
          border-radius: 0.5rem;
          height: 90%;
          width: 90%;
        }
      }
      &_cropper {
        grid-row: 2;
      }
      &_button {
        grid-row: 3;
        margin-top: 1rem !important;
      }
    }
    &_actions-top {
      grid-row: 4;
      padding-top: 0rem !important;
      padding-bottom: 1rem !important;
      justify-content: center !important;
      button {
        width: 86%;
      }
    }
    &_actions-middle {
      grid-row: 5;
      justify-content: space-evenly !important;
      button {
        width: 38%;
      }
    }
    &_actions-bottom {
      grid-row: 6;
      justify-content: space-evenly !important;
      button {
        width: 38%;
      }
    }
  }
}

// IDENTIFICATION CARD STYLES
.identification {
  height: 100%;
  &-card {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &-header {
      background-color: $primary-blue;
      color: white;
      padding-left: 1rem;
    }
    &-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      &-card {
        padding: 1rem 1rem 0rem 1rem;
        &-container {
          max-width: 800px;
          margin: auto 2rem;
          &-photo {
            border-radius: $image-border-radius;
            overflow: hidden;
            width: $image-width-desktop;
            height: $image-height-desktop;
            transition: width 500ms, height 500ms;
            margin: 1rem 2rem 2rem 2rem !important;
            border: 1px solid $primary-blue;
            &-button {
              &-image {
                width: $image-width-desktop;
                height: $image-height-desktop;
              }
              &-tile-bar {
                padding-bottom: 0.5rem;
                background: transparentize(
                  $primary-blue,
                  0.4
                ); // Make titles more readable over image background
                // Make space for a two-line title
                text-align: center;
              }
            }
          }
          &-info {
            max-width: 600px;
            transition: width 500ms;
            margin: auto 1rem;
            color: rgba(0, 0, 0, 0.87);
            overflow-wrap: anywhere;
            overflow: hidden;
            hyphens: auto;
            &-social-media {
              border-bottom: 1px solid rgba(0, 0, 0, 0.54);
              margin-bottom: 1rem !important;
              .gc360-my-profile {
                &_icon {
                  font-size: 36px;
                  color: $primary-blue;
                  transition: color 200ms, scale 1s;
                  &:hover {
                    color: $primary-cyan !important;
                    transform: scale(1.2) !important;
                  }
                }
                &_edit-icon {
                  margin-bottom: 0.5rem;
                }
              }
            }
            &-class {
              color: rgba(0, 0, 0, 0.54);
            }
            &-email {
              display: inline-block;
              a:hover {
                text-decoration: none;
              }
              &-container {
                color: $primary-blue;
                display: flex;
                &:hover {
                  color: $primary-cyan;
                }
                &-icon {
                  margin-right: 0.75rem;
                }
              }
            }
          }
        }
      }
      &-public-profile-link {
        margin: 1rem auto;
        &:hover {
          text-decoration: none;
        }
        &-button {
          font-size: 1rem !important;
          color: white !important;
          background-color: $primary-cyan !important;
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}

@media (max-width: $break-sm) {
  .gc360-photo-dialog {
    height: 100%;
    &-box {
      &_content {
        &_dropzone {
          width: 12em;
          height: 12rem;
        }
        &_cropper {
          padding-right: 20px;
        }
      }
    }
  }
  .identification {
    &-card {
      &-header {
        justify-content: center;
        padding-left: 0rem;
      }
      &-content {
        &-card {
          &-container {
            &-photo {
              width: $image-width-mobile;
              height: $image-height-mobile;
              &-button {
                &-image {
                  width: $image-width-mobile;
                  height: $image-height-mobile;
                }
              }
            }
            &-info {
              width: 90%;
              &-email {
                &-container {
                  &-icon {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
