@import '../../../../vars';

.news_item {
  padding: 1rem;
  align-items: center;
  transition: background-color 150ms;
  border-top: solid 1.5px $neutral-light-gray;

  &:hover {
    background-color: $primary-cyan;
    cursor: pointer;

    .news_column,
    .descriptionText,
    .news_content,
    .news_heading {
      color: $neutral-white;
    }
  }
}

button.deleteButton {
  border-color: $secondary-red;
  color: $secondary-red;
}

.banner_details {
  flex-direction: column;
}
