@import '../../../../vars';

button.deleteButton {
  border-color: $secondary-red;
  color: $secondary-red;
}

img.banner_image {
  height: auto;
  max-width: 1500px;
  margin: auto;
}

div.banner_actions {
  justify-content: flex-end;
}
