@import '../../vars';

.pwa-instructions {
  &-title {
    background-color: $primary-blue !important;
    color: $neutral-white;
    padding: 1rem;
  }
  &-content {
    padding: 1rem !important;
    &-install {
      box-sizing: border-box;
      &-text {
        padding: 0.5rem !important;
        text-align: left;
      }
      &-buttons {
        justify-content: flex-end;
        button {
          margin: 1rem 0.8rem 0.5rem 0.8rem;
        }
      }
    }
    &-container {
      &-toggles {
        &-platform {
          margin-bottom: 1rem;
          &-toggles {
            .MuiToggleButtonGroup-grouped:not(:first-child) {
              border-left: 1px solid $neutral-white-opacity50;
            }
          }
        }
        &-instructions {
          &-choice {
            color: $secondary-red;
            padding: 1rem 0rem;
          }
          &-text {
            padding-bottom: 0.5rem;
            &-step {
              color: $primary-blue;
            }
            &-instruction {
              color: $neutral-dark-gray;
              a {
                text-decoration: none;
                color: $primary-blue;
                &:hover {
                  color: $primary-cyan;
                }
              }
            }
          }
          &-image {
            margin-bottom: 2rem;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              max-width: 400px !important;
              border-radius: 10px;
            }
          }
        }
      }
      &-button-cancel {
        justify-content: flex-end;
        button {
          margin: 1rem 0.8rem 0rem 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .pwa-instructions {
    &-title {
      text-align: center;
    }
    &-content {
      &-install {
        &-text {
          padding: 1rem;
        }
      }
      &-container {
        &-toggles {
          overflow: hidden;
          &-platform {
            // flex-direction: column !important;
            &-text {
              justify-content: center !important;
              text-align: center;
              margin-bottom: 0.5rem;
            }
            &-toggles {
              justify-content: center !important;
              .MuiToggleButton-root {
                padding: 0rem 1rem;
              }
            }
          }
          &-instructions-choice {
            justify-content: center;
            text-align: center;
          }
        }
        &-button-cancel {
          justify-content: space-evenly;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .pwa-instructions {
    &-title {
      text-align: center;
    }
    &-content {
      &-install {
        &-text {
          padding: 1rem;
        }
        &-buttons {
          justify-content: space-evenly;
          button {
            margin: 1rem 0.5rem 0.5rem 0.5rem;
          }
        }
      }
      &-container {
        &-toggles {
          &-platform {
            text-align: center;
          }
        }
      }
    }
  }
}
