@import "../../../../vars";

.gordon-tabs .nav-item {
  color: $white;
  flex: 1;
}
.gordon-tabs .nav-link {
  height: 100px;
  line-height: 90px;
  vertical-align: middle;
  text-align: center;
  background-color: $navy;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0;
}
.gordon-tabs .nav-link.active {
  background-color: $cyan;
  color: $white;
}
.gordon-tabs h4 {
  color: $cyan;
}
.gordon-tabs .tab-content {
  background-color: $white;
  padding: 2rem;
}
