@import '../../vars';

.wellness_question {
  .MuiButtonBase-root {
    padding: 4px;
  }

  .MuiFormLabel-root {
    color: $neutral-black !important;
  }

  .wellness_header {
    background-color: $primary-blue;
    color: $neutral-white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

  .GREEN {
    border: 15px solid $wellness-green;
    border-radius: 2px;
    color: $neutral-white;
    .MuiButton-contained {
      background: $wellness-green;
      color: $neutral-white;
    }
  }

  .YELLOW {
    border: 15px solid $wellness-yellow;
    border-radius: 2px;
    color: $neutral-dark-gray;
    .MuiButton-contained {
      background: $wellness-yellow;
      color: $neutral-dark-gray;
    }
  }

  .left {
    text-align: left;
  }

  a {
    color: blue;
    &:hover {
      text-decoration: none;
    }
  }
}
