@import '../../vars';

.wellness_question {
  :global(.MuiButtonBase-root) {
    padding: 4px;
  }

  :global(.MuiFormLabel-root) {
    color: var(--mui-palette-neutral-contrastText) !important;
  }

  .wellness_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

  .GREEN {
    border: 15px solid var(--mui-palette-success-dark);
    border-radius: 2px;
    color: var(--mui-palette-primary-contrastText);
    :global(.MuiButton-contained) {
      background: var(--mui-palette-success-dark);
      color: var(--mui-palette-primary-contrastText);
    }
  }

  .YELLOW {
    border: 15px solid var(--mui-palette-warning-main);
    border-radius: 2px;
    color: var(--mui-palette-neutral-dark);
    :global(.MuiButton-contained) {
      background: var(--mui-palette-warning-main);
      color: var(--mui-palette-neutral-dark);
    }
  }

  .left {
    text-align: left;
  }

  a {
    color: var(--mui-palette-link-main);
    &:hover {
      color: var(--mui-palette-link-light);
      text-decoration: none;
      transition: 0.2s;
    }
  }

  a.contact_link {
    color: var(--mui-palette-secondary-main);
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}
