@import '../../../../vars';

.event_item {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.event_content {
  padding-left: 10px;
  padding-right: 10px;
}

.event_heading {
  padding-left: 10px;
  padding-right: 10px;
}

.event_item:hover .event_content {
  color: $neutral-white;
}

.event_item:hover .event_heading {
  color: $neutral-white;
}
