@import '../../../../vars';

.event-item {
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 0.625rem;
}

.event-content {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.event-heading {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.event-item:hover .event-content {
  color: #fff;
}

.event-item:hover .event-heading {
  color: #fff;
}
