@import '../../../../vars';

.gordon-people-search {
  .people-search-dropdown {
    position: absolute;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    right: 20px;
    border-radius: 4px;
  }

  .h {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid $primary-cyan;
    background-color: transparentize($color: $primary-cyan, $amount: 0.9);
  }

  .people-search-suggestion {
    display: block;
    align-self: left;
    padding-bottom: 25px;
  }

  .people-search-suggestion-selected {
    background-color: $neutral-light-gray;
    display: block;
    align-self: left;
    padding-bottom: 25px;
  }

  .people-search-suggestion-selected:hover {
    background-color: $neutral-light-gray !important;
  }

  .people-search-dropdown:hover .people-search-suggestion-selected {
    background-color: white;
  }

  @media (min-width: 0px) {
    .people-search-root {
      width: 7rem;
      &:focus-within {
        width: 7rem;
      }
    }
  }

  @media (min-width: $break-xs) {
    //margin-left: -10rem;
    .people-search-root {
      width: 8rem;
      &:focus-within {
        width: 8rem;
      }
    }
  }

  @media (min-width: 400px) {
    //margin-left: -8rem;
    .people-search-root {
      width: 10rem;
      &:focus-within {
        width: 10rem;
      }
    }
  }

  @media (min-width: $break-sm) {
    .people-search-suggestion,
    .people-search-suggestion-selected {
      width: 12rem;
    }
    .people-search-dropdown {
      right: 28px;
    }
  }

  @media (min-width: $break-sm) {
    width: auto;
    //margin-left: -18px;
    .people-search-root {
      width: 12rem;
      &:focus-within {
        width: 14.5rem;
      }
    }
  }

  @media (min-width: $break-sm) {
    .text-field {
      width: 14rem;
    }
    .people-search-root {
      align-self: flex-end;
      width: 15rem;
      &:focus-within {
        width: 17rem;
      }
    }
  }

  @media (min-width: $break-md) {
    .text-field {
      width: 11.5rem;
    }
    .people-search-root {
      align-self: flex-end;
      width: 13rem;
      &:focus-within {
        width: 15rem;
      }
    }
    .people-search-suggestion,
    .people-search-suggestion-selected {
      width: 12.25rem;
    }
  }
  @media (min-width: 960px) {
    .people-search-suggestion,
    .people-search-suggestion-selected {
      width: 8.5rem;
    }
    .people-search-dropdown {
      right: auto;
    }
  }

  @media (min-width: 1000px) {
    .text-field {
      width: 14rem;
    }
    .people-search-root {
      align-self: flex-end;
      width: 13.5rem;
      &:focus-within {
        width: 16rem;
      }
    }
    .people-search-suggestion,
    .people-search-suggestion-selected {
      width: 11.15rem;
    }
  }

  .people-search-root {
    align-self: flex-end;
    color: inherit;
    background: $primary-blue;
    transition: box-shadow 0.3s, width 0.3s;
    //margin-right: 0.75rem;
    border-radius: 4px;
    border: 1px solid $neutral-white;
    padding: 2px 10px;
    &:focus-within {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &:hover:not(:focus-within) {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
