@import '../../../../vars';

.gordon-people-search {
  .people-search-dropdown {
    position: absolute;
    max-height: 90%;
    overflow-y: auto;
  }

  .people-search-suggestion {
    display: block;
  }

  .people-search-input {
    color: inherit;
  }

  .people-search-underline {
    &::after {
      border-bottom-color: $neutral-white;
    }

    &::before {
      border-bottom-color: $neutral-white;
    }

    &:hover {
      &:not(.people-search-disabled) {
        &::before {
          border-bottom-color: $neutral-white;
        }
      }
    }
  }
}
