@import '../../../../vars';

.gordon-people-search {
  .people-search-dropdown {
    position: absolute;
    max-height: 60vh;
    overflow-y: auto; // make this to scroll
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
  }

  .h {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid $primary-cyan;
    background-color: transparentize($color: $primary-cyan, $amount: 0.9);
  }

  .people-search-suggestion {
    display: block;
    align-self: left;
    padding-bottom: 25px;
  }

  .people-search-suggestion-selected {
    background-color: $neutral-light-gray;
    display: block;
    align-self: left;
    padding-bottom: 25px;
  }

  .people-search-suggestion-selected:hover {
    background-color: $neutral-light-gray !important;
  }

  .people-search-dropdown:hover .people-search-suggestion-selected {
    background-color: $neutral-white;
  }

  // .loading is shown first. After 350ms, .loading opacity and font-size go to 0. This is done
  // to give space for .no-results to increase in font size and change to normal opacity.
  .no-results {
    font-size: 0;
    opacity: 0;
    font-style: italic;
    color: gray;
    animation: show-no-results 1ms infinite;
    animation-delay: 350ms;
  }

  @keyframes show-no-results {
    0% {
      font-size: 90%;
      opacity: 1;
    }
    100% {
      font-size: 90%;
      opacity: 1;
    }
  }

  .loading {
    font-style: italic;
    color: gray;
    animation: show-loading 1ms infinite;
    animation-delay: 350ms;
  }

  @keyframes show-loading {
    0% {
      font-size: 0;
      opacity: 0;
    }
    100% {
      font-size: 0;
      opacity: 0;
    }
  }

  @media (min-width: 0px) {
    .people-search-root {
      width: 7rem;
      &:focus-within {
        width: 7rem;
      }
    }
  }

  @media (min-width: $break-xs) {
    .people-search-root {
      width: 8rem;
      &:focus-within {
        width: 8rem;
      }
    }
  }

  @media (min-width: 400px) {
    .people-search-root {
      width: 10rem;
      &:focus-within {
        width: 10rem;
      }
    }
  }

  @media (min-width: $break-sm) {
    .people-search-suggestion,
    .people-search-suggestion-selected {
      width: 12rem;
    }
    .people-search-dropdown {
      right: 28px;
    }
    .text-field {
      width: 14rem;
    }
    .people-search-root {
      align-self: flex-end;
      width: 15rem;
      &:focus-within {
        width: 17rem;
      }
    }
  }

  @media (min-width: $break-md) {
    .text-field {
      width: 14rem;
    }
    .people-search-root {
      align-self: flex-end;
      width: 13.5rem;
      &:focus-within {
        width: 16rem;
      }
    }
    .people-search-suggestion,
    .people-search-suggestion-selected {
      width: 11.15rem;
    }
    .people-search-dropdown {
      right: auto;
    }
  }

  .people-search-root {
    align-self: flex-end;
    color: inherit;
    background: $primary-blue;
    transition: box-shadow 0.3s, width 0.3s;
    border-radius: 4px;
    border: 1px solid $neutral-white;
    padding: 2px 10px;
    &:focus-within {
      box-shadow: 0 3px 10px 0 $neutral-black-opacity20;
    }
    &:hover:not(:focus-within) {
      box-shadow: 0 3px 5px 0 $neutral-black-opacity20;
    }
  }
}
