@import '../../vars';

$drawer-width: 240px;

.gordon-header {
  position: absolute;
  width: 100%;
  display: inline-flex;
  justify-content: center;

  .app-bar {
    position: absolute;
  }

  .tab {
    color: white;
    text-transform: capitalize;
  }

  .menu-button {
    margin-left: -12px;
  }
  @media (min-width: $break-md) {
    .menu-button {
      display: none;
    }
  }

  .header-button {
    margin-left: -12px;
    margin-right: -12px;
  }

  .title {
    flex: 1;
    margin-right: 10px;
    margin-left: 34px;
    font-weight: bold;
  }

  @media (min-width: 0) {
    .center-container {
      display: none;
    }
  }

  @media (min-width: $break-md) {
    .center-container {
      flex: 5;
      justify-content: center;
      float: none;
      display: flex;
    }
  }

  .right-side-container {
    align-items: center;
    display: flex;
    margin-left: 12px;
  }
}
