@import '../../vars';

.toolbar {
  justify-content: space-between;
}

.tab {
  text-transform: capitalize;

  &.disabled_tab {
    color: var(--mui-palette-neutral-900);
  }
}

.tab.tab:hover {
  text-decoration: none;
}

.side_container {
  display: flex;
  align-items: center;
}

.center_container {
  display: none;
}

.people_search_container {
  transition: width 0.3s;
  display: inline-block;
}


@media (min-width: $break-md) {
  .center_container {
    display: flex;
  }

  .tab {
    padding-inline: 0;
  }
}

@media (min-width: $break-lg) {
  .tab {
    min-width: 110px;
  }
}

.menu_icon {
  color: var(--mui-palette-primary-contrastText);
}