@import '../../vars';

$drawer-width: 240px;

.gordon-header {
  position: absolute;
  width: 100%;

  .app-bar {
    position: absolute;
  }
  @media (min-width: $break-md) {
    .app-bar {
      margin-left: $drawer-width;
      width: calc(100% - #{$drawer-width});
    }
  }

  .menu-button {
    margin-left: -12px;
  }
  @media (min-width: $break-md) {
    .menu-button {
      display: none;
    }
  }

  .title {
    flex: 1;
    margin-right: 10px;
  }

  .right-side-container {
    align-items: center;
    display: flex;
    margin-right: -12px;
  }
}
