@import '../../vars';

$drawer-width: 240px;

.gordon-header {
  position: absolute;
  width: 100%;
  display: inline-flex;
  justify-content: center;

  .app-bar {
    position: absolute;
    background-repeat: no-repeat;
  }

  .tab {
    color: white;
    text-transform: capitalize;
    min-width: 90px;
  }

  .menu-button {
    margin-left: -12px;
  }

  @media (min-width: 0px) {
    .app-bar {
      background-image: url('./gc_seal_top_trans_56.png');
    }

    .center-container {
      display: none;
    }
  }

  @media (min-width: $break-sm) {
    .app-bar {
      background-image: url('./gc_seal_top_trans_64.png');
    }
  }

  @media (min-width: $break-md) {
    .menu-button {
      display: none;
    }
    .app-bar {
      background-image: url('./gc_seal_top_trans_72.png');
    }

    .center-container {
      flex: 8;
      justify-content: center;
      // float: none;
      display: flex;
    }
  }

  @media (min-width: $break-lg) {
    .tab {
      min-width: 160px;
    }
  }

  .header-button {
    margin-left: -12px;
    margin-right: -12px;
  }

  .title {
    flex: 1;
    margin-right: 10px;
    margin-left: 34px;
    font-weight: bold;
  }

  .right-side-container {
    align-items: center;
    display: flex;
    margin-left: 12px;
  }
}
