@import '../../vars';

$drawer-width: 240px;

.gordon-header {
  position: absolute;
  width: 100%;
  display: inline-flex;
  justify-content: center;

  .app-bar {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('./gc_seal_top_56.png');
    height: $header-height-xs;
  }

  .tab {
    transition: min-width 0.2s;
    color: $neutral-white;
    text-transform: capitalize;
    min-width: 90px;

    &.disabled-tab {
      color: $neutral-white-opacity30;
    }
  }

  & .tab.tab:hover {
    text-decoration: none;
  }

  .menu-button {
    margin-left: -12px;
  }

  .center-container {
    visibility: hidden;
    width: 0;
  }

  .right-side-container {
    margin-left: 16px;
    padding: 0;
    align-items: center;
    display: none;
  }

  @media (min-width: $break-sm) {
    .app-bar {
      background-image: url('./gc_seal_top_64.png');
      height: $header-height-sm;
    }
  }

  @media (min-width: $break-md) {
    .menu-button {
      display: none;
    }
    .app-bar {
      background-image: url('./gc_seal_top_72.png');
      height: $header-height-md;
    }

    .center-container {
      flex: 3;
      justify-content: center;
      display: flex;
      visibility: visible;
    }

    .tab {
      min-width: 80px;
    }
    .right-side-container {
      display: flex;
      margin-left: 24px;
    }
  }

  @media (min-width: $break-lg) {
    .center-container {
      flex: 7;
    }
    .tab {
      min-width: 160px;
    }
  }

  .header-button {
    margin-left: -12px;
    margin-right: -12px;
  }

  .title {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
  }

  .menu-button-icon {
    color: $neutral-white;
  }

  .login-button {
    color: $neutral-white;
  }
}
