@import '../../vars';

.app_bar {
  position: sticky;
  height: var(--header-height);
  z-index: 100; // so quick search results appear above page.
}

.toolbar {
  justify-content: space-between;
}

.tab {
  text-transform: unset;
  padding: 0;
  min-width: 55px;
  max-width: 125px;
  flex-grow: 1;

  &.disabled_tab {
    color: var(--mui-palette-neutral-900);
  }
}

.tab.tab:hover {
  text-decoration: none;
}

.side_container {
  display: flex;
}

.center_container {
  display: none;
}

@media (min-width: $break-md) {
  .center_container {
    display: initial;
    flex-grow: 1;
  }
}

.people_search_container {
  text-align: right;
  width: 9rem;
  transition: width 0.3s;
  display: inline-block;
}

@media (min-width: $break-xs) {
  .people_search_container {
    width: 40vw;
  }
}

@media (min-width: $break-sm) {
  .people_search_container {
    width: 13rem;
    &:focus-within {
      width: 15rem;
    }
  }
}

.hamburger_menu_button {
  margin-left: -12px;
}

.hamburger_menu_button_icon {
  color: var(--mui-palette-primary-contrastText);
}

.header_button {
  margin-left: -12px;
  margin-right: -12px;
}
