@import '../../../../vars';

.gordon-nav-avatar {
  margin: 0;
  padding: 1rem;
  width: 100%;

  .label {
    display: inline;
  }

  .placeholder {
    background-color: $primary-cyan;
    height: 4rem;
  }

  .avatar > img {
    object-fit: cover;
    height: 100%;
  }

  .avatar {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    height: 4rem;
    width: 4rem;
  }

  // Override button centering content
  &.button {
    justify-content: start;
  }

  // Override button changing text to uppercase
  .avatar-text {
    text-transform: initial;
  }
}
