@import '../../../../vars';

.gordon-nav-avatar {
  margin: 0;
  padding: 1rem;
  width: 100%;

  .label {
    display: inline;
  }

  .placeholder {
    background-color: $primary-cyan;
    height: 4rem;
  }

  .image {
    height: auto;
  }

  .avatar {
    margin-bottom: 1rem;
    max-height: 4rem;
    width: 4rem;
  }

  // Override button centering content
  &.button {
    justify-content: start;
  }

  // Override button changing text to uppercase
  .text {
    text-transform: initial;
  }
}
