@import '../../vars';

.linkColor {
  color: blue !important;
}
.alignPicCenter {
  padding-top: 8%;
}
@media (max-width: $break-md) {
  .alignPicCenter {
    padding-top: 8%;
  }
}
@media (max-width: $break-sm) {
  .alignPicCenter {
    padding-top: 8%;
  }
}
@media (max-width: 800px) {
  .alignPicCenter {
    padding-top: 8%;
  }
}
@media (max-width: $break-xs) {
  .alignPicCenter {
    padding-top: 0%;
  }
}
