@import '../../vars';

.alignPicCenter {
  padding-top: 8%;
}

.rounded-corners {
  border-radius: 0.5rem;
}

.gc360-profile {
  &_icon {
    font-size: 28px;
    color: black;
    transition: color 200ms;
    &:hover {
      color: $primary-cyan !important;
    }
  }
}

.edit-icon {
  color: #000;
  transition: color 200ms;

  &:hover {
    color: $primary-cyan;
    cursor: pointer;
  }
}

.personal-office-grid {
  grid-row-gap: 100px;
}

@media (max-width: 420px) {
  .alignPicCenter {
    padding-top: 0%;
  }
}

@media (min-width: $break-sm) {
  .alignPicCenter {
    padding-top: 0%;
  }
}

@media (min-width: 720px) {
  .alignPicCenter {
    padding-top: 8%;
  }
}

@media (min-width: 1024px) {
  .alignPicCenter {
    padding-top: 5%;
  }
}
