@import '../../vars';

.linkColor {
  color: $primary-cyan !important;
}

.alignPicCenter {
  /*unused*/
  padding-top: 8%;
}

.rounded-corners {
  border-radius: 0.5rem;
}

.email-link {
  color: #000;
  font-size: 28px;
  transition: color 200ms;
}

.email-link-container:hover .email-link {
  transition: color 200ms;
  color: $primary-cyan;
}

.email-link-container:not(:hover) .email-link {
  transition: color 200ms;
  color: #000;
}

.icon {
  color: #000;
  font-size: 28px;
  transition: color 200ms;

  &:hover {
    color: $primary-cyan;
    cursor: pointer;
  }
}

.edit-icon {
  color: #000;
  transition: color 200ms;

  &:hover {
    color: $primary-cyan;
    cursor: pointer;
  }
}

.full-page-cont {
  display: grid;
  direction: ltr;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-auto-rows: 16px;
}

.profile-pic-cont {
  align-items: flex-end;
  justify-content: center;
}

/*.office-item {
  grid-row: 1 / 2;
}

.personal-item {
  grid-row: 4 / 5;
}*/

.personal-office-cont {
  grid-template-columns: 50%;
  grid-template-rows: 45% auto 45%;
}

.noInvolvements {
  /*unused*/
  padding-left: 24px;
  color: $primary-cyan !important;
}

.cont {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  grid-auto-rows: 16px;
}

.item-g {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-n {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/*the follwing are unused*/
@media (max-width: 420px) {
  .alignPicCenter {
    padding-top: 0%;
  }
}

@media (min-width: $break-sm) {
  .alignPicCenter {
    padding-top: 0%;
  }
}

@media (min-width: 720px) {
  .alignPicCenter {
    padding-top: 8%;
  }
}

@media (min-width: 1024px) {
  .alignPicCenter {
    padding-top: 5%;
  }
}
