@import '../../../../vars';

.victory-promise {
  background-color: $neutral-white;
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
  box-shadow: 0px 2px 1px -1px $neutral-black-opacity20, 0px 1px 1px 0px $neutral-black-opacity15,
    0px 1px 3px 0px $neutral-black-opacity125;

  &-header {
    background: $primary-blue;
    color: $neutral-white;
    padding-left: 1rem;
  }
  &-container {
    height: 90%;
    &-card {
      box-shadow: none !important;
      width: 100%;
      max-width: 600px;
      margin: 1rem;
      &-container {
        &-button-style {
          background-color: $primary-cyan !important;
          color: $neutral-white !important;
          margin: 1rem auto 2rem auto !important;
        }
        &-content {
          background-color: $primary-blue;
          border-radius: 0.5rem;
          padding: 2rem 1rem;
          &-box-layout {
            max-width: 100%;
            max-height: auto;
            margin: 0%;
          }
        }
        &-link {
          color: $primary-cyan;
          margin-top: 2rem !important;
          &-text {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: $break-sm) {
  .victory-promise {
    &-header {
      padding-left: 0rem;
      justify-content: center;
    }
    &-container {
      &-card {
        &-container {
          padding: 0rem 0.5rem 1rem 0.5rem !important;
          &-button-style {
            margin: auto auto 1.5rem auto !important;
          }
          &-content {
            padding: 1rem;
          }
          &-link {
            margin-top: 1.5rem !important;
          }
        }
      }
    }
  }
}

.victory-promise-icon:hover {
  transition: box-shadow 0.2s;
  box-shadow: 0px 3px 10px 0px $neutral-black-opacity20;
}
