#denied-box{
    height: 250px;
    background-color: rgb(163, 0, 0);;
  }
  .card{
      align-self: center;
  }

#denied-x {
  font-size: 25px;
  color: white;
  padding-bottom: 30px;
}

#cross-mark {
  font-size: 85px;
  height: 100px;
  width: 100px;
  background-color: rgb(163, 0, 0);
  color: white;
  border-radius: 50%;
  display: inline-block;
  animation-name: animationCross;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animationCross {
  from {background-color: rgb(163, 0, 0); color: white;}
  to {background-color: white; color: rgb(163, 0, 0);}
}
