.denied-box {
  height: 250px;
  background-color: rgb(163, 0, 0);
}

.denied-time {
  font-size: calc(14px + 1vw);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cross-mark {
  font-size: calc(43.4px + 2.61vw);
  height: calc(50px + 3vw);
  width: calc(50px + 3vw);
  background-color: rgb(163, 0, 0);
  color: white;
  border-radius: 50%;
  display: inline-block;
  animation-name: animationCross;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animationCross {
  from {
    background-color: rgb(163, 0, 0);
    color: white;
  }
  to {
    background-color: white;
    color: rgb(163, 0, 0);
  }
}
