@import '../../../vars';

.label {
  font-size: 0.8rem;
  color: var(--mui-palette-neutral-600);
}

.label2 {
  color: var(--mui-palette-neutral-500);
  text-align: 'center';
}

.value {
  font-size: 8.5vw;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-shadow: 0px 1px 6px var(--mui-palette-neutral-400);
}

.card {
  height: auto;
}

@media (min-width: $break-md) {
  .value {
    font-size: 3.3vw;
  }
}
