@import '../../../../vars';

.wellness-status {
  .GREEN {
    .status-box {
      height: 250px;
      background-color: $wellness-green;
    }

    .status-time {
      font-size: calc(14px + 1vw);
      color: $neutral-white;
      padding-bottom: 30px;
    }

    .status-animation {
      text-align: center;
      height: calc(70px + 3vw);
      width: calc(70px + 3vw);
      background-color: $wellness-green;
      color: $neutral-white;
      border-radius: 50%;
      display: inline-block;
      animation-name: animationCheck;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @keyframes animationCheck {
    from {
      background-color: $wellness-green;
      color: $neutral-white;
    }
    to {
      background-color: $neutral-white;
      color: $wellness-green;
    }
  }

  .YELLOW {
    .status-box {
      height: 250px;
      background-color: $wellness-yellow;
    }

    .status-time {
      font-size: calc(14px + 1vw);
      color: $neutral-dark-gray;
      padding-bottom: 30px;
    }

    .status-animation {
      text-align: center;
      height: calc(70px + 3vw);
      width: calc(70px + 3vw);
      background-color: $wellness-yellow;
      color: $neutral-dark-gray;
      border-radius: 50%;
      display: inline-block;
      animation-name: animationBar;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @keyframes animationBar {
    from {
      background-color: $wellness-yellow;
      color: $neutral-dark-gray;
    }
    to {
      background-color: $neutral-dark-gray;
      color: $wellness-yellow;
    }
  }

  .RED {
    .status-box {
      height: 250px;
      background-color: $wellness-red;
    }

    .status-time {
      font-size: calc(14px + 1vw);
      color: $neutral-gray2;
      padding-bottom: 30px;
    }

    .status-animation {
      text-align: center;
      height: calc(70px + 3vw);
      width: calc(70px + 3vw);
      background-color: $wellness-red;
      color: $neutral-gray2;
      border-radius: 50%;
      display: inline-block;
      animation-name: animationCross;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @keyframes animationCross {
    from {
      background-color: $wellness-red;
      color: $neutral-gray2;
    }
    to {
      background-color: $neutral-gray2;
      color: $wellness-red;
    }
  }
}

a.rtc-link {
  color: $primary-cyan;
  text-decoration: underline;
}

a.rtc-link:hover {
  color: $primary-blue;
  text-decoration: underline;
}
