.desc_tile {
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 7% 3% 40% 43% 7%;
}

.desc_title {
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: flex-start;
}

.desc_description {
  grid-row: 2;
  grid-column: 2 / 5;
}

.desc_buttons {
  grid-row: 3;
  grid-column: 4;
}

.edit_description_dialog_button {
  background-color: var(--mui-palette-secondary-main);
  color: var(--mui-palette-primary-contrastText);
}
