@import '../../vars';

.enrollmentCheckIn {
  .checkIn_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding: 30px;
    font-size: 40px;
  }

  .button_container {
    Button:disabled {
      background-color: var(--mui-palette-neutral-dark);
    }
    :global(.MuiButton-contained) {
      background-color: var(--mui-palette-secondary-main);
      color: var(--mui-palette-secondary-contrastText);
    }
  }
}
