@import '../../vars';

p{
  margin-left: 15px;
}
a{
  color: #0b91fd;
}

/*.highlight {
  margin-top: 50px;
  font-size: 1.1em;
  max-width: 100%;
  font-style: italic;
  text-align: left;
  padding: 0;
  font-weight: 550;
  font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
  letter-spacing: 1px;
}
.about-content {
  max-width: 100%;
  margin-top: 50px;
  font-size: 18px;
  text-align: left;
  font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
  letter-spacing: 1px;

p{
  margin-top: -15px;
  font-size: 15px;
  margin-left: 1em;
  font-weight: 300px;
}
ul{
  margin-top: -15px;
  font-size: 15px;
  font-weight: 300px;
}
h1 {
  font-size:34px;
  font-weight:300;
  letter-spacing:-5px;
  }
h2 {
  font-size:27px;
  font-weight:400;
  }
h3 {
  font-size: 25px;
  font-weight:500;
  }
h4 {
  margin-top: 20px;
  font-size:20px;
  font-weight:400;
  }
}
*/
