.about {
  margin: 1rem;

  li {
    list-style-type: '• ';
  }

  & :global(.MuiCard-root) {
    box-shadow: none;
  }

  &_title {
    text-align: center;
    padding-top: 2rem;
    color: var(--mui-palette-neutral-contrastText);
  }

  &_contributors:global(.MuiTypography-root) {
    white-space: pre-wrap;
    margin-left: 1rem;
  }

  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }

  &_subheader {
    color: var(--mui-palette-neutral-contrastText);
    text-align: center;
    padding-bottom: 0.5rem;
  }
  &_text {
    color: var(--mui-palette-neutral-contrastText);
  }
}
