@import '../../vars';

.about {
  margin: 1rem;

  li {
    list-style-type: '• ';
  }

  & :global(.MuiCard-root) {
    box-shadow: none;
  }

  &_title {
    text-align: center;
    padding: 1rem;
  }

  &_contributors:global(.MuiTypography-root) {
    white-space: pre-wrap;
    margin-left: 1rem;
  }

  &_header {
    background-color: var(--mui-palette-primary-500);
    color: $neutral-white;
  }
}
