@import '../../vars';

.about {
  margin: 1rem;

  li {
    list-style-type: '⮞ ';
  }

  & .MuiCard_root {
    box-shadow: none;
  }

  &_title {
    text-align: center;
    padding: 1rem;
  }

  &_contributors.MuiTypography_root {
    white-space: pre-wrap;
    margin-left: 1rem;
  }

  &_header {
    background-color: $primary-blue;
    color: $neutral-white;
  }
}
