@import '../../../../vars';

.people_search_avatar_mobile {
  border-radius: 0.5rem;
  height: 6.5rem;
  width: 6.5rem;
}

.people_search_avatar_large {
  border-radius: 0.5rem;
  height: 12rem;
  width: 12rem;
}

.people_search_avatar {
  border-radius: 0.5rem;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}
.disabled {
  opacity: 0.4;
}
