@import '../../../../vars';

.avatar {
  border-radius: 0.5rem;
  height: 50px;
  width: 50px;
}

// @media (max-width: 420px) {
//   .alignPicCenter {
//     padding-top: 0%;
//   }
// }

// @media (min-width: $break-sm) {
//   .alignPicCenter {
//     padding-top: 0%;
//   }
// }

// @media (min-width: 720px) {
//   .alignPicCenter {
//     padding-top: 8%;
//   }
// }

// @media (min-width: 1024px) {
//   .alignPicCenter {
//     padding-top: 5%;
//   }
