@import '../../../../vars';

.people-search-avatar-mobile {
  border-radius: 0.5rem;
  height: 70px;
  width: 70px;
}

.people-search-avatar-large {
  border-radius: 0.5rem;
  height: 250px;
  width: 250px;
}

.people-search-avatar {
  border-radius: 0.5rem;
  height: 50px;
  width: 50px;
  margin-left: 0px;
}
