@import '../../../../vars';

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: min(1rem, 1vw);

  & :global(.MuiCardContent-root) {
    padding: min(1rem, 2vw);
  }
}

.avatar {
  border-radius: 0.5rem;
  height: clamp(6.5rem, 8vw, 10rem);
  width: clamp(6.5rem, 8vw, 10rem);
  margin: min(1rem, 2vw);
}

.name {
  font-size: clamp(1rem, 0.6429rem + 1.7857vw, 3rem);
}

.subtitle {
  font-size: clamp(0.8rem, 0.6286rem + 0.8571vw, 2rem);
}

.secondary_text {
  font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.5rem);
}

.mailingIconContainer {
  display: flex;
  justify-content: center;
  flex: 0.5;
}

.mailCardAction {
  width: fit-content;
}
