@import '../../vars';

.tabs {
  &:global(.MuiTabs-root) {
    min-height: 0;
  }
}

.tabsIndicator {
  display: none;
}

%tab {
  font-size: medium;
  color: $neutral-white;
  width: 49.25%;
  background-color: $primary-cyan;
  border-radius: 1rem 1rem 0 0;
  margin: 0 0;

  &:global(.MuiTab-root) {
    min-height: 3rem;
    max-width: none;
  }

  &:global(.Mui-selected) {
    background-color: $primary-blue;
    font-weight: bold;
    color: $neutral-white;
  }
}

.tab {
  @extend %tab;
}

.right_tab {
  @extend %tab;
  margin-left: 1.5%;
}

%tab_admin_view {
  @extend %tab;
  width: 32.3%;
}

.tab_admin_view {
  @extend %tab_admin_view;
}

.mid_tab_admin_view {
  @extend %tab_admin_view;
  width: 32.4%;
  margin: 0 1.5%;
}

%small_tab {
  font-size: 0.6rem;
  width: 49.25%;
  color: $neutral-white;
  background-color: $primary-cyan;
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 0;

  &:global(.MuiTab-root) {
    min-height: 2rem;
    max-width: none;
  }

  &:global(.Mui-selected) {
    background-color: $primary-blue;
    font-weight: bold;
    color: $neutral-white;
  }
}

.small_tab {
  @extend %small_tab;
}

.small_right_tab {
  @extend %small_tab;
  margin-left: 1.5%;
}

%small_tab_admin_view {
  @extend %small_tab;
  width: 32.3%;
}

.small_tab_admin_view {
  @extend %small_tab_admin_view;
}

.small_mid_tab_admin_view {
  @extend %small_tab_admin_view;
  width: 32.4%;
  margin: 0 1.5%;
}

.tabPanel {
  &:global(.MuiTabPanel-root) {
    padding: 0;
  }
}
