@import '../../vars';

.tabsIndicator {
  display: none;
}

.tab {
  font-size: medium;
  width: 10rem;
  height: 4rem;
  color: $neutral-white;
  background-color: $primary-cyan;
  border-radius: 1rem 1rem 0 0;
  margin: 0 0.25rem;

  &:global(.Mui-selected) {
    background-color: $primary-blue;
    font-weight: bold;
    color: $neutral-white;
  }
}

.smallTab {
  font-size: 0.6rem;
  width: 5rem;
  height: 2.5rem;
  color: $neutral-white;
  background-color: $primary-cyan;
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 0.2rem;

  &:global(.Mui-selected) {
    background-color: $primary-blue;
    font-weight: bold;
    color: $neutral-white;
  }
}

.tabPanel {
  &:global(.MuiTabPanel-root) {
    padding-top: 0;
  }
}
