_searchPageTitle {
  color: var(--mui-palette-secondary-main);
}
_event_filter_icon {
  color: var(--mui-palette-neutral-900);
  font-size: 20;
}
_event_filter_list_icon {
  color: var(--mui-palette-neutral-900);
  font-size: 20;
}
_eventIcon {
  color: var(--mui-palette-neutral-900);
  font-size: 20;
}
_attended_clw {
  background-color: var(--mui-palette-secondary-main);
  color: var(--mui-palette-secondary-contrastText);
}
_filters {
  background-color: var(--mui-palette-secondary-main);
  color: var(--mui-palette-neutral-50);
}
_card_style {
  padding: '0 3vw';
}
