@import '../../vars.scss';

.event-buttons {
  padding-bottom: 1rem;

  button {
    color: $neutral-white;
    background-color: $primary-cyan;
    margin: 5px;

    &:hover {
      background-color: $primary-cyan;
    }
  }

  /* 'hard' coded because MUI is bad */
  @media (max-width: 600px) {
    div.buttonWrapper {
      justify-content: center;
      padding-top: 1rem;
    }
  }
}

.event-filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .filter-chips {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-chip {
    color: $neutral-white;
    background-color: $primary-cyan;
    margin: 2px;
  }
}

.event-filters-select {
  min-width: 200px;
  margin: 10px;
}
