.searchPageTitle {
  color: var(--mui-palette-secondary-main);
}
.event {
  &_filter_icon {
    color: var(--mui-palette-neutral-500);
    font-size: 20;
  }
  &_filter_list_icon {
    color: var(--mui-palette-neutral-500);
    font-size: 20;
  }
  &_icon {
    color: var(--mui-palette-neutral-500);
    font-size: 20;
  }
  &_filter_button {
    font-weight: bold;
  }
}

.card_style {
  padding: 0 3vw;
}
