@import '../../../../vars';

.addResourceButton {
  text-transform: none;
}

.header {
  font-size: 0.9rem;
}

.headerImg {
  width: 4em;
}

@media (min-width: $break-sm) {
  .header {
    font-size: 1rem;
  }
  .headerImg {
    width: 5em;
  }
  .addResourceButton {
    margin-left: 16px;
  }
}

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: $primary-blue;
  color: $neutral-white;
}

.title {
  font-weight: bold;
  color: $neutral-dark-gray2;
  font-size: 1.5em;
}

.subtitle {
  color: $neutral-gray;
  font-size: 1em;
}

.menuTitle {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: $neutral-gray;
  text-align: center;
}

.reportSubtitle {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: $neutral-gray;
  text-align: left;
  font-size: 0.7em;
}

.menuButton:hover {
  background-color: $neutral-black-opacity10;
}

.reportText {
  color: $neutral-black;
  font-size: 0.7em;
}

.reportCard {
  page-break-after: always;
}

.fab {
  right: 20px;
  bottom: 20px;
  position: fixed;
}

/* @media print takes effect when in a print view (eg after hitting Print Co-Curricular Transcript).
   Allows logo to only show when printing. */
@media print {
  body header,
  .no_print {
    visibility: hidden;
  }
}
