@import '../../../../vars';

.addResourceButton {
  text-transform: none;
}

@media (min-width: $break-sm) {
  .addResourceButton {
    margin-left: 16px;
  }
}

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: $primary-blue;
  color: $neutral-white;
}

.title {
  font-weight: bold;
  color: $neutral-dark-gray2;
}

.subtitle {
  color: $neutral-gray;
}
