@import '../../vars';

.symptoms_dialog {
  :global(.MuiDialog-paper) {
    border: 15px solid var(--mui-palette-warning-main);
    border-radius: 5px;
    color: var(--mui-palette-neutral-800);
  }

  .confirm_symptoms {
    background: var(--mui-palette-warning-main);
  }
}
