@import '../../vars';

.symptoms-dialog {
  .MuiDialog-paper {
    border: 15px solid $wellness-yellow;
    border-radius: 5px;
    color: $neutral-dark-gray;
  }

  .confirm-symptoms {
    background: $wellness-yellow;
  }
}
