@import '../../vars';

.symptoms_dialog {
  .MuiDialog_paper {
    border: 15px solid $wellness-yellow;
    border-radius: 5px;
    color: $neutral-dark-gray;
  }

  .confirm_symptoms {
    background: $wellness-yellow;
  }
}
