.tooltip {
  background-color: var(--mui-palette-neutral-contrastText);
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 3px 6px #00000029, 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 12px;
  max-width: 500px;
}

.timesheets {
  :global(.MuiGrid-item) {
    text-align: center;
  }

  .header_tooltip_container {
    display: inline-flex;
    position: relative;
  }

  .header_tooltip_container .tooltip_icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -2px;
    margin-top: 8px;
  }
}
