.timesheets {
  .MuiGrid-item {
    text-align: center;
  }

  .header-tooltip-container {
    display: inline-flex;
    position: relative;
  }

  .header-tooltip-container .tooltip-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -2px;
    margin-top: 8px;
  }
}
