.tooltip {
  background-color: var(--mui-palette-info-dark);
  color: var(--mui-palette-info-contrastText);
  box-shadow: 0 3px 6px var(--mui-palette-neutral-A700), 0 3px 6px var(--mui-palette-neutral-A400);
  font-size: 12px;
  max-width: 500px;
}

.clockInOutButton {
  font-weight: bold;
}

.timesheets {
  text-align: center;
  background-color: var(--mui-palette-neutral-main);

  .button {
    background-color: var(--mui-palette-secondary-main);
  }

  .header_tooltip_container {
    display: inline-flex;
    position: relative;
    color: var(--mui-palette-neutral-main);
  }

  .header_tooltip_container .tooltip_icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -2px;
    margin-top: 8px;
  }
}
