@import '../../../../vars';

.secondaryText {
  margin-top: 1em;
  color: $neutral-gray;
  text-align: center;
}

.scrollableCenteredTabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
