@import '../../../../../../vars';

.weak {
  color: $neutral-gray;
  font-size: 85%;
}

.button {
  color: $neutral-white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: $neutral-white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.message_text {
  /* format for the dropdown "no requests" text **/
  color: grey;
  text-align: center;
  padding: 32px;
}
