@import '../../../../vars';

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: $primary-blue;
  color: $neutral-white;
}

.actionButton {
  text-transform: none;
}

:global(.MuiCardHeader-root).cardHeader {
  padding: 0.7em 16px;
}

.cardHeader :global(.MuiCardHeader-title) {
  font-size: 1em;
}

.title {
  font-weight: bold;
  color: $neutral-dark-gray2;
}

.subtitle {
  color: $neutral-gray;
}

.editIconButton {
  background-color: $secondary-yellow;
  color: $neutral-black;
}

.editIconButton:hover {
  background-color: rgb(177, 129, 13);
}

.buttonArea {
  background-color: $neutral-light-gray;
  padding: 16px;
  margin-bottom: 0.2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.logoFlexBox {
  flex-direction: column;
  display: inherit;
}

.logo {
  border-radius: 50%;
  width: 6.9em;
  height: 6.9em;
  // max-height: 100px;
  object-fit: cover;
}

.photoOptionButton {
  text-transform: none;

  font-size: small;
  //color: $neutral-black;
  //background-color: $neutral-black-opacity125;
  transform: translate(0%, 0%);
  width: 100px;
  height: 30px;
  margin-top: 5px;
  padding: 0px;
}

.secondaryText {
  margin-top: 1em;
  color: $neutral-gray;
  text-align: center;
}
