@import '../../vars';

strong.over-emphasized {
  text-transform: uppercase;
  text-decoration: underline;
}

.apartment-card-header {
  background-color: $primary-blue;
  color: $neutral-white;
  padding: '10px';
}

.list-item {
  color: $neutral-dark-gray;
}

.nested-list-item {
  padding-left: 48px;
  padding-right: 16px;
}

.bordered-list-item {
  @extend .list-item;
  border: 1px solid $primary-blue;
}

.people-search-parent {
  @extend .list-item;

  // overrides some styles of .gordon-people-search,
  // others are inherited from src/components/Header/components/PeopleSearch/people-search.scss
  .gordon-people-search {
    .people-search-root {
      color: inherit;
      background: $neutral-white; // override to white instead of blue
      // margin: auto;
      border: 1px solid $neutral-dark-gray; // override to black instead of white
      width: 100%; // Force full width. The width will be adjusted by the Grid structure instead
    }

    .people-search-dropdown {
      position: inherit;
      max-height: 60vh;
      overflow-y: auto; // make this to scroll
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      border-radius: 4px;
      z-index: 10;
    }
  }
}

.back-home-button {
  background-color: $neutral-white;
  color: $primary-blue;
}

.success {
  color: $secondary-green;
  font-size: medium;
}

.error {
  color: $secondary-red;
  font-size: medium;
}

.save-bar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  border-top: 8px; // The <Grid> seems to be ignoring these, I will investigate this in the near future
  margin-top: 8px; // The <Grid> seems to be ignoring these

  .save-bar-card {
    box-shadow: 0px 0px 10px;
  }
}
