@import '../../vars';

.student-apartment-application {
  & strong.over-emphasized {
    text-transform: uppercase;
    text-decoration: underline;
  }

  & .apartment-card-header {
    background-color: $primary-blue;
    color: $neutral-white;
    .MuiTypography-colorTextSecondary {
      color: $neutral-white-opacity80;
      font-size: 1.25rem;
    }
  }

  & .apartment-instructions {
    & .MuiTypography-root {
      padding: 0.25rem 0.75rem;
    }

    & .MuiTypography-paragraph {
      text-align: left;
    }

    & .MuiTableContainer-root {
      border: 1px solid $neutral-gray3;
      border-radius: 4px;
    }
  }

  & .list-item {
    color: $neutral-dark-gray;
  }

  & .nested-list-item {
    padding-left: 48px;
    padding-right: 16px;
  }

  & .bordered-list-item {
    @extend .list-item;
    border: 1px solid $primary-blue;
  }

  & .people-search-parent {
    @extend .list-item;

    // overrides some styles of .gordon-people-search,
    // others are inherited from src/components/Header/components/PeopleSearch/people-search.scss
    .gordon-people-search {
      .people-search-root {
        color: inherit;
        background: $neutral-white; // override to white instead of blue
        // margin: auto;
        border: 1px solid $neutral-dark-gray; // override to black instead of white
        width: 100%; // Force full width. The width will be adjusted by the Grid structure instead
      }

      .people-search-dropdown {
        position: inherit;
        max-height: 60vh;
        overflow-y: auto; // make this to scroll
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        border-radius: 4px;
        z-index: 10;
      }
    }
  }

  & .back-home-button {
    background-color: $neutral-white;
    color: $primary-blue;
  }

  & .delete-button {
    background-color: $secondary-red;
    color: $neutral-white;
    &:hover {
      background-color: $wellness-red;
      color: $neutral-white;
    }
  }

  & .error {
    color: $secondary-red;
  }

  & .MuiGrid-item.sticky-page-bottom-bar {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    border-top: 8px; // The <Grid> seems to be ignoring these, I will investigate this in the near future
    margin-top: 8px; // The <Grid> seems to be ignoring these

    .MuiCard-root,
    .sticky-page-bottom-bar {
      box-shadow: 0px 0px 4px;
      position: sticky;
    }
  }

  & .MuiButton-containedSecondary {
    color: $neutral-white;
  }

  & .apartment-agreements-form-control {
    text-align: left;
    &-label {
      color: $neutral-dark-gray;
    }
    & .MuiDivider-root {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
