.people_search_parent {
  @extend %list_item;

  :global {
    .gc360_quick_search_root {
      border-color: var(--mui-palette-neutral-main); // override to black instead of white
    }

    .gc360_quick_search_dropdown {
      position: inherit;
    }
  }
}

strong.over_emphasized {
  text-transform: uppercase;
  text-decoration: underline;
}

.apartment_card_header {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);

  :global {
    .MuiTypography-colorTextSecondary {
      color: var(--mui-palette-primary-contrastText);
      font-size: 1.25rem;
    }

    .MuiCardHeader-subheader {
      color: var(--mui-palette-primary-contrastText);
    }
  }
}

.apartment_instructions {
  & :global(.MuiTypography-root) {
    padding: 0.25rem 0.75rem;
  }

  & :global(.MuiTypography-paragraph) {
    text-align: left;
  }

  & :global(.MuiTableContainer-root) {
    border: 1px solid var(--mui-palette-neutral-700);
    border-radius: 4px;
  }
}

.list_item,
%list_item {
  color: var(--mui-palette-neutral-700);
}

.nested_list_item {
  padding-left: 48px;
  padding-right: 16px;
}

.bordered_list_item {
  @extend %list_item;
  border: 1px solid var(--mui-palette-primary-main);
}

.error {
  color: var(--mui-palette-error-main);
}

:global(.MuiGrid-item) .sticky_page_bottom_bar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  border-top: 8px; // The <Grid> seems to be ignoring these, I will investigate this in the near future
  margin-top: 8px; // The <Grid> seems to be ignoring these

  :global(.MuiCard-root),
  .sticky_page_bottom_bar {
    box-shadow: 0px 0px 4px;
    position: sticky;
  }
}

.apartment_agreements_form_control {
  text-align: left;

  &_label {
    color: var(--mui-palette-neutral-700);
  }

  // (CSSMODULES - fix mui overrides - disable no-descending-specificity)
  /* stylelint-disable-next-line */
  & :global(.MuiDivider-root) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.email {
  color: var(--mui-palette-primary-main);
  display: flex;

  &:hover {
    color: var(--mui-palette-secondary-main);
  }

  &_icon {
    margin-right: 0.75rem;
  }
}
