@import '../../vars';

.apartment-application {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &-card {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
}

@media (max-width: $break-xs) {
  .apartment-application {
    &-card {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}

.applicant-menu-container {
  display: flex;
  width: 100%;
}

.applicant-menu-column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 60% width*/
  flex-basis: 60%; /* sets initial width to 60%*/
}

// .box {
//   background-color: $neutral-white;
//   padding: 10px;
//   border-radius: 12px;
//   border: 2px solid $neutral-light-gray;
//   margin: 10px;
//   box-shadow: 1px 1px 1px #000;
// }

@media only screen and (max-width: 900px) {
  .applicant-menu-container {
    flex-direction: column;
  }

  // .box {
  //   margin: 0 0 1rem;
  // }
}
