@import '../../vars';

.gordon-activity-profile {
  .activity-image {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .email-button {
    height: 24px;
    width: 24px;
  }
}

strong {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

