@import '../../vars';

.gordon-activity-profile {
  .activity-image {
    .img {
      max-width: 100%;
    }
  }

  .rounded-corners {
    border-radius: 0.5rem;
  }

  .email-button {
    height: 1.5rem;
    width: 1.5rem;
  }

  .contacts {
    padding: 0 0 0 0;
  }

  .col {
    flex: 33%;
  }

  .edit-activity-dialog-box {
    overflow-x: hidden;
  }

  .websiteLink {
    color: $primary-cyan !important;
  }
}

.photoUploader {
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
