.people {
  &_searchbar {
    color: var(--mui-palette-neutral-contrastText);
  }

  &_text {
    color: var(--mui-palette-secondary-main);
  }

  &_section:global(.MuiCard-root) {
    box-shadow: none;
    color: var(--mui-palette-neutral-contrastText);
  }
}
