.search_field_list {
  &_gordon_text {
    color: var(--mui-palette-link-light);
  }
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-neutral-50);
  }
  &_people_text {
    color: var(--mui-palette-neutral-contrastText);
  }
  &_accordion_arrow {
    color: var(--mui-palette-neutral-contrastText);
  }
  &_search_field {
    color: var(--mui-palette-secondary-main);
    background-color: var(--mui-palette-secondary-main);
  }
  &_search_width {
    width: 14rem;
  }
}
