.alumni_update_form_title {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  text-align: center;

  & :global(.MuiTypography-h6) {
    font-size: 2em;
  }
}