@use 'sass:color';
@import '../../../../vars';

$image-border-radius: 50%;
// Main Image
$image-main-height-mobile: 200px;
$image-main-height-desktop: 230px;
$image-main-width-mobile: 200px;
$image-main-width-desktop: 230px;
// Side Image
$image-side-height-mobile: 80px;
$image-side-height-desktop: 90px;
$image-side-width-mobile: 80px;
$image-side-width-desktop: 90px;

.photo_buttons {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-neutral-light);
  &_changeImageButton {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-neutral-light);
  }
  &_resetButton {
    background-color: var(--mui-palette-error-light);
    color: var(--mui-palette-neutral-light);
  }
  &_cancelButton {
    background-color: var(--mui-palette-neutral-light);
    color: var(--mui-palette-primary-main);
    border: 1px solid var(--mui-palette-primary-main);
    width: 86%;
  }
  &_hidden {
    display: 'none';
  }
}

.socialmediabutton {
  color: var(--mui-palette-secondary-main);
  font-size: 1rem;
}

.photoDialogError {
  color: var(--mui-palette-error-main);
}

// IDENTIFICATION CARD STYLES
.identification_card {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--mui-palette-neutral-light);
  border-radius: 4px;
  height: 100%;
  box-shadow: 0px 2px 1px -1px var(--mui-palette-neutral-500),
    0px 1px 1px 0px var(--mui-palette-neutral-300), 0px 1px 3px 0px var(--mui-palette-neutral-300);
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding-left: 1rem;
    hyphens: auto;
  }
  &_content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &_card {
      padding: 2rem 1rem 0rem 1rem;
      &_container {
        max-width: 800px;
        margin: auto 2rem;
        &_photo {
          margin: 1rem 2rem 2rem 2rem !important;
          position: relative;
          &_main {
            border-radius: $image-border-radius;
            transition: width 500ms, height 500ms !important;
            border: 4px solid var(--mui-palette-primary-main);
            z-index: 1 !important;
            overflow: hidden !important;
            width: $image-main-width-desktop;
            height: $image-main-height-desktop;
            position: relative;
            &_container {
              position: absolute;
              &_image {
                width: $image-main-width-desktop;
                height: $image-main-height-desktop;
                object-fit: cover;
              }
              &_tile_bar {
                position: absolute;
                margin: 0rem;
                padding: 0.5rem 0rem 2rem 0rem;
                top: 89%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                color: var(--mui-palette-primary-contrastText);
                background-color: var(
                  --mui-palette-primary-50
                ); // Make titles more readable over image background
                // Make space for a two-line title
                text-align: center;
              }
            }
            &_button {
              position: absolute;
              background-color: transparent;
              border-radius: $image-border-radius;
              width: $image-main-width-desktop;
              height: $image-main-height-desktop;
              &:hover {
                cursor: pointer;
              }
            }
          }
          &_side {
            position: absolute;
            z-index: 2;
            border: 1px solid var(--mui-palette-primary-main);
            display: flex;
            box-sizing: border-box;
            border-radius: $image-border-radius;
            transform: translate(-35%, -270%);
            overflow: hidden !important;
            &_image {
              border-radius: $image-border-radius;
              width: $image-side-width-desktop;
              height: $image-side-height-desktop;
              object-fit: cover;
            }
            &_button {
              position: absolute;
              background-color: transparent;
              border-radius: $image-border-radius;
              width: $image-side-width-desktop;
              height: $image-side-height-desktop;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        &_info {
          max-width: 600px;
          transition: width 500ms;
          margin: auto 1rem;
          color: var(--mui-palette-neutral-900);
          overflow-wrap: anywhere;
          overflow: hidden;
          hyphens: auto;
          &_social_media {
            border-bottom: 1px solid var(--mui-palette-neutral-500);
            margin-bottom: 1rem !important;
            .gc360_my_profile {
              &_icon {
                font-size: 36px;
                color: var(--mui-palette-primary-main);
                transition: color 200ms, scale 1s;
                &:hover {
                  color: var(--mui-palette-secondary-main) !important;
                  transform: scale(1.2) !important;
                }
              }
              &_edit_icon {
                margin-bottom: 0.5rem;
              }
            }
          }
          &_class {
            color: var(--mui-palette-neutral-500);
          }
          &_job_title {
            opacity: 0.7;
          }
          &_email {
            display: inline-block;
            a:hover {
              text-decoration: none;
            }
            &_container {
              color: var(--mui-palette-primary-main);
              display: flex;
              &:hover {
                color: var(--mui-palette-secondary-main);
              }
              &_icon {
                margin-right: 0.75rem;
              }
            }
          }
        }
      }
    }
    &_public_profile_link {
      margin: 1rem auto;
      &:hover {
        text-decoration: none;
      }
      &_button {
        font-size: 1rem !important;
        color: var(--mui-palette-neutral-light) !important;
        background-color: var(--mui-palette-secondary-main) !important;
        margin-bottom: 1rem !important;
      }
    }
  }
}

@media (max-width: $break-sm) {
  .identification_card {
    &_header {
      justify-content: center;
      padding-left: 0rem;
    }
    &_content {
      &_card {
        &_container {
          &_photo {
            width: $image-main-width-mobile;
            height: $image-main-height-mobile;
            &_main {
              width: $image-main-width-mobile;
              height: $image-main-height-mobile;
              &_container {
                &_image {
                  width: $image-main-width-mobile;
                  height: $image-main-height-mobile;
                }
                &_tile_bar {
                  top: 85%;
                  padding: 0.5rem 0rem 1.5rem 0rem;
                }
              }
              &_button {
                width: $image-main-width-mobile;
                height: $image-main-height-mobile;
              }
            }
            &_side {
              &_image {
                // transform: translateY(-50%);
                width: $image-side-width-mobile;
                height: $image-side-height-mobile;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
          &_info {
            width: 90%;
            &_email {
              &_container {
                &_icon {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
