%header_style {
  padding-left: 5px;
  padding-right: 5px;
}

.header_style {
  color: var(--mui-palette-primary-main);
  @extend %header_style;

  &_text {
    color: #9f9f9d;
    @extend %header_style;
  }
}
