@import '../../../../vars';

.approved-box {
    height: 250px;
    background-color: $wellness-green;
  }

  .approved-time {
    font-size: calc(14px + 1vw);
    color: white;
    padding-bottom: 30px;
  }

  .circle-check {
    text-align: center;
    height: calc(70px + 3vw);
    width: calc(70px + 3vw);
    background-color: $wellness-green;
    color: white;
    border-radius: 50%;
    display: inline-block;
    animation-name: animationCheck;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes animationCheck {
    from {
      background-color: $wellness-green;
      color: white;
    }
    to {
      background-color: white;
      color: $wellness-green;
    }
  }
