.wellness_check {
  text-align: center;

  :global(.MuiPaper-elevation1) {
    box-shadow: none;
  }

  :global(.MuiButton-contained) {
    background-color: var(--mui-palette-secondary-main);
    color: var(--mui-palette-secondary-contrastText);

    &:hover {
      background-color: var(--mui-palette-secondary-main);
    }
  }

  .user_image {
    max-height: 200px;
    min-width: 160px;
  }

  .wellness_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding: 10px;
    font-size: 20px;
  }
}

.animation {
  text-align: center;
  height: calc(70px + 3vw);
  width: calc(70px + 3vw);
  border-radius: 50%;
  display: inline-block;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: var(--status-background-color);
  color: var(--status-color);
  animation-name: statusAnimation;
}

.time {
  font-size: calc(14px + 1vw);
  color: var(--status-color);
  padding-bottom: 30px;
}

.box {
  background-color: var(--status-background-color);
}

.status_description {
  font-size: calc(14px + 1vw);
  color: var(--status-color);
}

@keyframes statusAnimation {
  from {
    background-color: var(--status-background-color);
    color: var(--status-color);
  }

  to {
    background-color: var(--status-color);
    color: var(--status-background-color);
  }
}

.GREEN {
  --status-background-color: var(--mui-palette-success-dark);
  --status-color: var(--mui-palette-neutral-light);
}

.YELLOW {
  --status-background-color: var(--mui-palette-warning-main);
  --status-color: var(--mui-palette-neutral-800);
}

.RED {
  --status-background-color: var(--mui-palette-error-main);
  --status-color: var(--mui-palette-neutral-dark);
}

a.rtc_link {
  color: var(--mui-palette-secondary-main);
  text-decoration: underline;
}

a.rtc_link:hover {
  color: var(--mui-palette-primary-main);
  text-decoration: underline;
}

a.contact_link {
  color: var(--mui-palette-secondary-main);
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
