@import '../../../../vars';

.wellness_check {
  text-align: center;

  :global(.MuiPaper-elevation1) {
    box-shadow: none;
  }

  :global(.MuiButton-contained) {
    background-color: $primary-cyan;
    color: $neutral-white;

    &:hover {
      background-color: $primary-cyan;
    }
  }

  .user_image {
    max-height: 200px;
    min-width: 160px;
  }

  .wellness_header {
    background-color: $primary-blue;
    color: $neutral-white;
    padding: 10px;
    font-size: 20px;
  }
}

.animation {
  text-align: center;
  height: calc(70px + 3vw);
  width: calc(70px + 3vw);
  border-radius: 50%;
  display: inline-block;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: var(--status-background-color);
  color: var(--status-color);
  animation-name: statusAnimation;
}

.time {
  font-size: calc(14px + 1vw);
  color: var(--status-color);
  padding-bottom: 30px;
}

.box {
  height: 250px;
  background-color: var(--status-background-color);
}

.status_description {
  font-size: calc(14px + 1vw);
  color: var(--status-color);
}

@keyframes statusAnimation {
  from {
    background-color: var(--status-background-color);
    color: var(--status-color);
  }

  to {
    background-color: var(--status-color);
    color: var(--status-background-color);
  }
}

.GREEN {
  --status-background-color: #{$wellness-green};
  --status-color: #{$neutral-white};
}

.YELLOW {
  --status-background-color: #{$wellness-yellow};
  --status-color: #{$neutral-dark-gray};
}

.RED {
  --status-background-color: #{$wellness-red};
  --status-color: #{$neutral-gray2};
}

a.rtc_link {
  color: $primary-cyan;
  text-decoration: underline;
}

a.rtc_link:hover {
  color: $primary-blue;
  text-decoration: underline;
}

a.contact_link {
  color: $primary-cyan;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
