@import '../../../../vars';

.event_item {
  padding: 10px;
}

.event_column {
  padding-inline: 10px;
}

.event_item:hover {
  .event_column, .descriptionText {
  color: $neutral-white;
  }
}

// Make even-numbered rows gray
:global(.gc360_event_list) > section:nth-child(even) {
  background-color: $neutral-light-gray;
}

:global(.gc360_event_list) > section {
  background-color: $neutral-white;
  transition: background-color 200ms ease;
  &:hover {
    background-color: $primary-cyan;
    cursor: pointer;
  }
}

