@import '../../../../vars';

.event-item {
  padding: 10px;
}

.event-column {
  padding-left: 10px;
  padding-right: 10px;
}

.event-item:hover .event-column {
  color: #fff;
}

.event-item:hover .descriptionText {
  color: #fff;
}