@import '../../../../vars';

.event-item {
  padding: 0.625rem;
}

.event-column {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.event-item:hover .event-column {
  color: #fff;
}

.event-item:hover .descriptionText {
  color: #fff;
}
