.addHall_button,
.submit_button {
  height: 45px;
  margin-left: 10px;
}

.rankLabel {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}

#hallSlots {
  position: relative;
  padding: 10px;
}

.hallSlotWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
