//this makes the space between the selectable answers smaller
.wellness_check {
  .MuiButtonBase-root {
    padding: 0.25rem !important;
  }
  .MuiFormLabel-root {
    color: black !important;
  }
  /* unvisited link */
  a:link {
    color: blue;
  }

  /* visited link */
  a:visited {
    color: blue;
  }

  /* mouse over link */
  a:hover {
    color: blue;
  }

  /* selected link */
  a:active {
    color: blue;
  }
}
