@import '../../../../vars';

.buttonArea {
  background-color: var(--mui-palette-neutral-200);
  padding: 16px;
  margin-top: -1em;
  margin-bottom: 0.2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.actionButton {
  text-transform: none;
  background-color: var(--mui-palette-secondary-main);
}

.actionButton:hover {
  background-color: var(--mui-palette-secondary-600);
}

.seriesHeader {
  color: var(--mui-palette-neutral-800);
  background-color: var(--mui-palette-neutral-300);
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  margin-left: 0;
  padding: 0.5rem;
}

.seriesMainText {
  font-weight: bold;
}

.seriesSecondaryText {
  color: var(--mui-palette-neutral-800);
  font-size: 0.7em;
}

.seriesDateText {
  color: var(--mui-palette-neutral-800);
  font-size: 0.85em;
}

.ongoingChip {
  background-color: var(--mui-palette-secondary-100);
}

// All below should eventually be refactored to global styles

.cardHeader {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

.cardHeader :global(.MuiCardHeader-title) {
  font-size: 1em;
}

.grayText {
  color: var(--mui-palette-success-main);
}

.header {
  font-size: 0.9rem;
}

.title {
  font-weight: bold;
  color: var(--mui-palette-neutral-800);
  font-size: 1.5em;
}

.subtitle {
  color: var(--mui-palette-neutral-600);
  font-size: 1em;
}

.secondaryText {
  color: var(--mui-palette-neutral-600);
  text-align: center;
}

.menuTitle {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: var(--mui-palette-neutral-600);
  text-align: center;
}

.editIconButton {
  background-color: var(--mui-palette-warning-main);
  color: var(--mui-palette-neutral-A100);
}

.editIconButton:hover {
  background-color: var(--mui-palette-warning-A100);
}

.menuButton:hover {
  background-color: var(--mui-palette-neutral-A700);
}

.redButton {
  background-color: var(--mui-palette-error-dark);
  color: var(--mui-palette-error-contrastText);
}

.redButton:hover {
  background-color: var(--mui-palette-error-main);
}

.logoContainer {
  transition: 0.5s ease;
  position: relative;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  overflow: hidden;
}

.logoContainer:hover {
  transform: scale(1.03);
  position: relative;
  border-radius: 50%;
  box-shadow: 0 3px 6px var(--mui-palette-neutral-A200);
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  z-index: 10;
  background: var(--mui-palette-neutral-A200);
  border-radius: 16px;
}

.overlayText {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: small;
  text-align: center;
  color: var(--mui-palette-neutral-light);
}

.logo {
  transition: 0.6s ease;
  display: block;
  width: 6em;
  object-fit: cover;
}

.logo:hover {
  transform: scale(1.02);
}

.photoOptionButton {
  text-transform: none;
  font-size: small;
  transform: translate(0%, 0%);
  width: 100px;
  height: 30px;
  margin-top: 5px;
  padding: 0px;
}

.scrollableCenteredTabs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.seriesScheduleMenu {
  margin: 1em;
}

.seriesScheduleMenuItem {
  margin: 1em;
  color: var(--mui-palette-neutral-500);
  text-align: center;

  &_available {
    text-decoration-line: overline;
    text-decoration-style: solid;
    text-decoration-color: var(--mui-palette-secondary-main);
    text-decoration-thickness: 3px;
    color: var(--mui-palette-neutral-800);
    font-weight: bold;
    margin: 1em;
    text-align: center;
  }
}

.teamListFilterSelect {
  width: 10rem;
  text-align: center;
  :global(.MuiSelect-filled) {
    padding: 0.6em 1em;
  }
}

@media (min-width: $break-sm) {
  .header {
    font-size: 1rem;
  }
}
