@import '../../../../vars';

.activityTitle {
  font-weight: bold;
  color: $neutral-dark-gray2;
}

.activitySubtitle {
  color: $neutral-gray;
}

.recimNavHeaderLine {
  border-top: 3px solid $neutral-gray2;
  width: 20em;
}

.buttonArea {
  background-color: $neutral-gray3;
  padding: 16px;
  margin-bottom: 0.2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.actionButton {
  text-transform: none;
}

.gridItemStack {
  margin-bottom: 1em;
}

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: $primary-blue;
  color: $neutral-white;
}

:global(.MuiCardHeader-root).cardHeader {
  padding: 0.7em 16px;
}

:global(.MuiCardContent-root) {
  padding: 16px;
  padding-top: 0px;
}

.cardHeader :global(.MuiCardHeader-title) {
  font-size: 1em;
}

.grayText {
  color: $neutral-gray;
}

.seriesHeader {
  color: $neutral-white;
  background-color: $neutral-dark-gray3;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  margin-left: 0;
  padding: 0.5rem;
}

.seriesMainText {
  font-weight: bold;
}

.seriesSecondaryText {
  color: $neutral-light-gray;
  font-size: 0.7em;
}
