@import '../../../../vars';

.form_title {
  background-color: $primary-blue;
  color: $neutral-white;
  text-align: center;
  grid-row: 1;

  & :global(.MuiTypography-h6) {
    font-size: 2em;
  }
}
