@import '../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss';

.gordon-login {
  height: 100%;
  padding: 0.8rem;
  text-align: center;

  background-size: cover;
  background-origin: border-box;

  @media (min-width: 3840px) {
    // Larger than 4K
    background-image: url(campusFull.jpg);
  }

  @media (max-width: 3840px) {
    // 4K or smaller
    background-image: url(campus4K.jpg);
  }

  @media (max-width: 1920px) {
    // 1080p Full HD or smaller
    background-image: url(campusHD.jpg);
  }

  @media (max-width: 1366px) {
    // 1366 x 768 or smaller
    background-image: url(campus1366.jpg);
  }

  @media (max-width: 600px) {
    // 600 pixels or smaller (larger mobile device)
    background-image: url(campusMobileLG.jpg);
  }

  @media (max-width: 400px) {
    // 400 pixels or smaller (smaller mobile device)
    background-image: url(campusMobileSM.jpg);
  }
}
