// Application variables for use in any component .scss file
// To use (for example, from `src/components/Header/header.scss`):
// @import '../../vars';

// Ensure that the relative path (i.e. `../../`, etc.) is correct when importing from a nested
// component.

// For use in a .js file, see `src/theme.js`.

$primary-blue: #014983;
$primary-cyan: #00aeef;

$secondary-green: #b2bb1c;
$secondary-yellow: #fdb913;
$secondary-orange: #de571f;
$secondary-red: #b53228;

$neutral-white: #fff;
$neutral-light-gray: #ebeaea;
$neutral-gray: #cccccb;
$neutral-dark-gray: #31342b;

// Material-UI breakpoints as Sass variables for use in custom styles
$break-xs: 360px;
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;
$break-xl: 1920px;

$drawer-width-xs: 250px;
$drawer-width-md: 240px;

$header-height-xs: 56px;
$header-height-sm: 64px;
$header-height-md: 72px;
