// Application variables for use in any component .scss file
// To use (for example, from `src/components/Header/header.scss`):
// @import '../../vars';

// Ensure that the relative path (i.e. `../../`, etc.) is correct when importing from a nested
// component.

// Theme palette update does not deprecate the following variables-----------------------
// - BREAKPOINTS WILL STILL BE USED FROM THIS FILE,
// do not delete this file fully even after theme palette is fully implemented

// Material-UI breakpoints as Sass variables for use in custom styles
$break-xs: 360px;
$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;
$break-xl: 1536px;

$header-height-xs: 56px;
$header-height-sm: 64px;
$header-height-md: 72px;
