.app_main {
  height: calc(100vh - var(--header-height));
  overflow-y: auto; // change this to scroll for ios to make the scroll smoothly
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 0.5rem;
  width: 100%;

  background-color: var(--mui-palette-neutral-main);
}
