@import './vars';

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
html,
#root,
.app-wrapper {
  height: 100%;
}
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
  letter-spacing: 1px;
}
// Disable link underline
a,
a:hover {
  text-decoration: none;
}
// Keep link color the same after visiting it
a:visited {
  color: initial;
}
.app-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}
.app-main {
  width: 100%;
  height: calc(100% - 56px);
  margin-top: 56px; // height of app bar
  padding: 1rem 0.5rem;
}
@media (min-width: $break-sm) {
  .app-main {
    height: calc(100% - 64px);
    margin-top: 64px;
  }
}
@media (min-width: $break-md) {
  .app-main {
    padding: 1rem;
    margin-left: $drawer-width-md;
  }
}
