@import './vars';

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html,
#root {
  height: 100%;
}

body {
  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

a {
  // Disable link underline
  text-decoration: none;

  &:hover {
    // Disable link underline
    text-decoration: none;
  }

  &:visited {
    // Keep link color the same after visiting it
    color: initial;
  }
}

.app_wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.app_main {
  height: calc(100vh - #{$header-height-xs});
  margin-top: $header-height-xs;
  overflow-y: auto; // change this to scroll for ios to make the scroll smoothly
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: $neutral-light-gray;
  &-container {
    height: 100%;
  }
}

// style for links that are menu items or buttons (not just text)
.gc360_link {
  color: $neutral-black;
  &:hover {
    color: $neutral-black !important;
    text-decoration: none !important;
  }
}
// style for links that are simply text and therefore need more of a sign that they are clickable
.gc360_text_link {
  color: $primary-blue;
  transition: color 200ms;
  &:hover {
    color: $primary-cyan !important;
  }
}

@media (min-width: $break-sm) {
  .app_main {
    height: calc(100vh - #{$header-height-sm});
    margin-top: $header-height-sm;
    margin-left: 0;
  }
}
@media (min-width: $break-md) {
  .app_main {
    height: calc(100vh - #{$header-height-md});
    margin-top: $header-height-md;
    padding: 1rem;
  }
}
@media (max-width: $break-md) {
  .gc360_a_link {
    color: $primary-cyan !important;
  }
}

strong {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.disable_select {
  user-select: none;
}

.rounded_corners {
  border-radius: 0.5rem;
}
