.app {
  text-align: center;
}

.app-logo {
  height: 135px;
}

.app-header {
  background-color: #014983;
  height: 200px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.poc-links {
  width: 33%;
  margin: 0 auto;
  text-align: left;
  list-style: none;
  font-size: 2rem;
}
