.headerMain {
  margin-left: -0.5rem;
  width: calc(100% + 1rem);
  padding: 1.5rem 4rem;
  // clip-path removes box shadow above this nav bar
  clip-path: inset(0px -10px -10px -10px);
  background-color: var(--mui-palette-neutral-light);
  margin-top: -1rem;
  border-bottom: 1px solid var(--mui-palette-neutral-main);
}

.title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--mui-palette-neutral-contrastText);
}

.subtitle {
  color: var(--mui-palette-neutral-contrastText);
}
