.involvements {
  background-color: var(--mui-palette-neutral-light);

  &_header {
    background-color: var(--mui-palette-neutral-light);
  }
  &_gordon_text {
    color: var(--mui-palette-secondary-main);
  }
}
