.involvements {
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }
  &_gordon_text {
    color: var(--mui-palette-secondary-main);
  }
}
