.linkHeader {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.foundRow {
  background-color: var(--mui-palette-success-main); // Use the LaVidaGreen color from your theme
  color: var(--mui-palette-success-contrastText);
}
