.tooltip {
  color: #555;
  background-color: #fff;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px rgba(0, 0, 0, 0.23);
}

.help_icon {
  cursor: pointer;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: var(--mui-palette-primary-main);
}
