@import "../../vars";

.gordon-nav {
  @media (min-width: $break-md) {
    .drawer {
      position: fixed;
      width: $drawer-width-md;
    }
  }
}

// Requires different class name because temporary drawer is rendered at document top level
.gordon-nav-drawer {
  width: $drawer-width-xs;
}

.gordon-nav .drawer,
.gordon-nav-drawer {
  background-color: $neutral-light-gray !important; // Must be `important` to override on mobile
}
