@import '../../vars';

.gordon_nav_drawer {
  max-width: 250px;
  width: 65%;
  background-color: var(--mui-palette-neutral-light);
  background-image: none; //Remove mui background overlay, fixes dark mode appearance
}

@media (min-width: $break-md) {
  .nav_avatar {
    display: none;
  }
}
