.card {
  background-color: var(--mui-palette-neutral-light);
  color: var(--mui-palette-neutral-contrastText);
}

.header {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}
