.banner_submission {
  &_upload_button {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
  }
  &_card_action {
    justify-content: center;
  }
}
