name: Lint and Build

on:
  # Run on PR for CI purposes
  pull_request:
  # Run on push to our deployed branches for CD purposes
  push:
    branches:
      - develop
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install Dependencies
        run: npm install

      - name: Lint Files
        run: npm run lint

      - name: Build
        run: npm run build

        # Uncomment when ready to run tests
      #     - name: Test
      #      run: npm test

      # Used to test deployment integration
      # - name: Upload Build artifacts for testing
      #   if: ${{ github.ref == 'refs/heads/test-github-actions' }}
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: build-test
      #     path: build

      - name: Upload develop build artifacts for deployment
        if: ${{ github.ref == 'refs/heads/develop' }}
        uses: actions/upload-artifact@v4
        with:
          name: build-train
          path: dist

      - name: Upload master build artifacts for deployment
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: actions/upload-artifact@v4
        with:
          name: build-prod
          path: dist
          
      - name: Upload senior-project build artifacts for deployment
        if: ${{ github.ref == 'refs/heads/senior-project' }}
        uses: actions/upload-artifact@v4
        with:
          name: build-senior-project
          path: dist
