@import '../../../../vars';

.gordon-nav-avatar-right-corner {
  // padding: 1rem;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

  &:hover {
    transition: box-shadow 0.3s;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  }

  &:not(:hover) {
    transition: box-shadow 0.3s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  }

  .label {
    display: inline;
  }

  .nav-avatar-placeholder {
    background-color: $primary-cyan;
    height: 3rem;
  }

  .nav-avatar-image {
    height: 3rem;
  }

  .nav-avatar {
    height: 3rem;
    width: 3rem;
  }

  // Override button centering content
  // &.nav-avatar-button {
  //   padding: 1rem;
  // }

  // Override button changing text to uppercase
  .text {
    text-transform: initial;
  }
}
