@import '../../../../vars';

.gordon-nav-avatar-right-corner {
  // padding: 1rem;
  width: 100%;
  margin-right: -24px;

  .label {
    display: inline;
  }

  .nav-avatar-placeholder {
    background-color: $primary-cyan;
    height: 3rem;
  }

  .nav-avatar-image {
    height: auto;
  }

  .nav-avatar {
    max-height: 3rem;
    width: 3rem;
  }

  // Override button centering content
  // &.nav-avatar-button {
  //   padding: 1rem;
  // }

  // Override button changing text to uppercase
  .text {
    text-transform: initial;
  }
}
