@import '../../../../vars';

.avatar {
  width: 50px;
  height: 50px;
  padding: 0rem;

  &:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  }

  &:not(:hover) {
    transition: box-shadow 0.3s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  }

  &._placeholder {
    background-color: $primary-cyan;
  }
}

.right_side_container {
  margin-left: 16px;
  padding: 0;
  align-items: center;
  display: none;
}

@media (min-width: $break-md) {
  .right_side_container {
    display: flex;
    margin-left: 24px;
  }
}
