@import '../../../../vars';

.header {
  font-size: 0.9rem;
}

.headerImg {
  width: 4em;
}

@media (min-width: $break-sm) {
  .header {
    font-size: 1rem;
  }

  .headerImg {
    width: 5em;
  }
}

.teamHeader {
  color: $neutral-black-opacity70;
  background-color: $neutral-black-opacity15;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  margin-left: 0;
  padding: 0.5rem;
}

.teamHeaderMainText {
  font-weight: bold;
}

.title {
  font-weight: bold;
  color: $neutral-dark-gray2;
  font-size: 1.5em;
}

.subtitle {
  color: $neutral-gray;
  font-size: 1em;
}

.buttonArea {
  background-color: $neutral-light-gray;
  padding: 16px;
  margin-top: -1em;
  margin-bottom: 0.2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.secondaryText {
  margin-top: 1em;
  color: $neutral-gray;
  text-align: center;
}

// if desired, this should just be a global change and
// universally applied to all 360 cards
.cardHeader {
  background-color: $primary-blue;
  color: $neutral-white;
}

.actionButton {
  text-transform: none;
  background-color: $primary-cyan;
}

.actionButton:hover {
  background-color: $primary-cyan-600;
}

.cardHeader :global(.MuiCardHeader-title) {
  font-size: 1em;
}

.grayIcon {
  color: $neutral-gray;
}

.menuTitle {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: $neutral-gray;
  text-align: center;
}

.editIconButton {
  background-color: $secondary-yellow;
  color: $neutral-black;
}

.editIconButton:hover {
  background-color: rgb(177, 129, 13);
}

.menuButton:hover {
  background-color: $neutral-black-opacity10;
}
