@import '../../../../vars';

.personal_info_list {
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: $neutral-white;
    padding-left: 1rem;
  }

  .note {
    color: $neutral-black-opacity55;
    background-color: $neutral-light-gray;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }

  .disclaimer {
    color: $secondary-red;
    background-color: $neutral-light-gray;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
}

// Needed for mail implementation, should be refactored into PersonalInfoListItem
.private {
  color: $neutral-black-opacity40;
}

.not_private {
  opacity: 1;
  color: $dark-text-color;
}

@media (max-width: $break-sm) {
  .personal_info_list {
    &_header {
      padding-left: 0rem;
      justify-content: center;
    }
  }
}
