@import '../../../../vars';

.personal_info_list {
  &_header {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding-left: 1rem;
  }

  .note {
    color: var(--mui-palette-neutral-700);
    background-color: var(--mui-palette-neutral-main);
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }

  .note_link {
    font-weight: bold;
    color: var(--mui-palette-primary-main);
    &:hover {
      color: var(--mui-palette-secondary-main);
      transition: 0.3s;
    }
  }

  .disclaimer {
    color: var(--mui-palette-error-main);
    background-color: var(--mui-palette-neutral-main);
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
}

// Needed for mail implementation, should be refactored into PersonalInfoListItem
.private {
  color: var(--mui-palette-neutral-500);
}

.not_private {
  opacity: 1;
  color: var(--mui-palette-neutral-contrastText);
}

@media (max-width: $break-sm) {
  .personal_info_list {
    &_header {
      padding-left: 0rem;
      justify-content: center;
    }
  }
}
