@import '../../../../vars';

.accordionHeader {
  & :global(.MuiAccordionSummary-content) {
    margin: 0;
  }
}
.expandIcon {
  color: var(--mui-palette-primary-contrastText);
}

.addCalendarInfoText {
  overflow-wrap: break-word;
  color: var(--mui-palette-secondary-main);
  font-weight: bold;
}
.header {
  padding-left: 0rem;
  justify-content: left;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
@media (max-width: $break-sm) {
  .header {
    padding-left: 0rem;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.quad-course {
  max-width: 50%;
  background-color: red;
}
