.schedule_panel {
  &_edit_button {
    background-color: var(--mui-palette-secondary-main);
    color: var(--mui-palette-secondary-contrastText);
  }
  &_remove_button {
    background-color: var(--mui-palette-warning-dark);
    color: var(--mui-palette-secondary-contrastText);
  }
  &_text {
    color: var(--mui-palette-secondary-main);
  }
  &_color_switch_base {
    color: var(--mui-palette-neutral-dark);
  }
  &_color_checked {
    color: var(--mui-palette-secondary-main);
  }
  &_color_bar {
    background-color: var(--mui-palette-secondary-main);
  }
}
