.accordionHeader {
  & :global(.MuiAccordionSummary-content) {
    margin: 0;
  }
}
.expandIcon {
  color: var(--mui-palette-primary-contrastText);
}

.addCalendarInfoText {
  overflow-wrap: break-word;
  color: var(--mui-palette-secondary-main);
  font-weight: bold;
}
