@import '../../../../vars';

.header {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  padding-left: 1rem;
}

.expandIcon {
  color: var(--mui-palette-primary-contrastText);
}

.accordionHeader {
  height: 2.5rem;
}

@media (max-width: $break-sm) {
  .header {
    padding-left: 0rem;
    justify-content: center;
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.addCalendarInfoText {
  overflow-wrap: break-word;
  color: var(--mui-palette-secondary-main);
  font-weight: bold;
}
